Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

typecheck-svelte:
  name: svelte-check
  entry: yarn workspace gui svelte-check --fail-on-warnings
  language: system

prettier:
  name: prettier
  entry: yarn prettier --write --plugin prettier-plugin-svelte
  language: system

eslint:
  name: eslint
  entry: yarn eslint --fix --max-warnings=0
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: python src-tauri/clippy.py
  language: system
  pass_filenames: false

Wait further for transparent info box background to load on local computer
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Make high DPI window size adjustment cross-platform
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Make default window big enough for dual column settings screen
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Make webdriver screenshot size consistent with default Tauri app size
  webdriver/screenshots/baseline/desktop_wry/api-call-individual.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-populated.png
  webdriver/screenshots/baseline/desktop_wry/api-calls.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen.png
  webdriver/screenshots/baseline/desktop_wry/new-api-call.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen.png
  webdriver/tsconfig.json
  webdriver/wdio.conf.ts
Due: prettier, eslint

Update screenshots with larger window size
  webdriver/screenshots/baseline/desktop_wry/api-call-individual.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-populated.png
  webdriver/screenshots/baseline/desktop_wry/api-calls.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen.png
  webdriver/screenshots/baseline/desktop_wry/new-api-call.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen.png
Due: none

Add ability to invoke Ollama chat request on backend
  .gitmodules
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-calls/chat-start-conversation-ollama.yaml
  src-tauri/api/sample-database-writes/conversation-started-ollama/dump.sql
  src-tauri/api/sample-database-writes/conversation-started-ollama/dump.yaml
  src-tauri/api/sample-network-requests/start-conversation-ollama.json
  src-tauri/clippy.py
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/models/llm_calls/chat_message.rs
  src-tauri/src/setup/api_keys.rs
Due: prettier, cargo-fmt, cargo-clippy

Fix API call IDs and timestamp
  src-tauri/api/sample-calls/chat-start-conversation-ollama.yaml
  src-tauri/src/test_helpers/api_testing.rs
Due: prettier, cargo-fmt, cargo-clippy

Update bindings to allow for Ollama provider
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte, prettier, eslint

Add controls to API editing box to send calls to Ollama instead
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.test.ts
Due: typecheck-svelte, prettier, eslint

Handle vertical offset from responses with emojis
  src-svelte/src/lib/ApiCallReferenceLink.svelte
  src-svelte/src/routes/api-calls/ApiCalls.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.stories.ts
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/api-calls/new/test.data.ts
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Update screenshots for Ollama calls
  src-svelte/screenshots/baseline/screens/llm-call/new/with-emoji.png
Due: none

Handle future service provider enums without erroring
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.stories.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/api-calls/[slug]/sample-calls.ts
  src-svelte/src/routes/storybook.test.ts
  src-tauri/api/sample-calls/get_api_call-future-service-provider.yaml
  src-tauri/api/sample-calls/get_api_calls-unknown-future-provider.yaml
  src-tauri/api/sample-calls/import_db-future-service-provider.yaml
  src-tauri/api/sample-database-writes/future-service-provider-export/dump.sql
  src-tauri/api/sample-database-writes/future-service-provider-export/dump.yaml
  src-tauri/api/sample-database-writes/future-service-provider/dump.sql
  src-tauri/api/sample-database-writes/future-service-provider/dump.yaml
  src-tauri/api/sample-disk-writes/db-import-export/future-service-provider/exported.zamm.yaml
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/models/api_keys.rs
  src-tauri/src/setup/api_keys.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/sqlite.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Implement forward compatibility for unknown prompt types as well
  src-tauri/api/sample-calls/get_api_call-unknown-provider-prompt.yaml
  src-tauri/api/sample-calls/get_api_calls-unknown-provider-prompt.yaml
  src-tauri/api/sample-calls/import_db-unknown-provider-prompt.yaml
  src-tauri/api/sample-calls/import_db-unknown-provider.yaml
  src-tauri/api/sample-database-writes/unknown-provider-import/dump.sql
  src-tauri/api/sample-database-writes/unknown-provider-import/dump.yaml
  src-tauri/api/sample-database-writes/unknown-provider-prompt-export/dump.sql
  src-tauri/api/sample-database-writes/unknown-provider-prompt-export/dump.yaml
  src-tauri/api/sample-database-writes/unknown-provider-prompt/dump.sql
  src-tauri/api/sample-database-writes/unknown-provider-prompt/dump.yaml
  src-tauri/api/sample-disk-writes/db-import-export/forward-compatibility/unknown-provider-prompt.zamm.yaml
  src-tauri/api/sample-disk-writes/db-import-export/forward-compatibility/unknown-provider.zamm.yaml
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/models/llm_calls/prompt.rs
  src-tauri/src/upgrades.rs
Due: prettier, cargo-fmt, cargo-clippy

Handle unknown prompt type on frontend as well
  src-svelte/src/lib/__mocks__/stores.ts
  src-svelte/src/lib/additionalTypes.ts
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/api-calls/[slug]/Actions.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.stories.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/api-calls/[slug]/Prompt.svelte
  src-svelte/src/routes/api-calls/[slug]/sample-calls.ts
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/api-calls/new/test.data.ts
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Update screenshots for unknown providers and prompts
  src-svelte/screenshots/baseline/screens/llm-call/individual/khmer.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/narrow.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/unknown-provider-prompt.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/variant.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/wide.png
  webdriver/screenshots/baseline/desktop_wry/api-call-individual.png
Due: none

Remove documentation that is no longer true after development process
  src-tauri/src/commands/llms/get_api_calls.rs
Due: cargo-fmt, cargo-clippy

Update README.md to reflect new E2E screenshot path
  README.md
Due: none

Bump version to 0.1.6 for next release
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-disk-writes/db-import-export/conflicting-llm-call/conflicting-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/conversation-edited-2/test-folder/exported-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/different-api-key/different.zamm.yaml
  src-tauri/api/sample-disk-writes/preferences/version-init/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/version-update/preferences.toml
  src-tauri/tauri.conf.json
  webdriver/screenshots/baseline/desktop_wry/welcome-screen.png
Due: prettier

Fix import file filter on Mac OS
  src-svelte/src/routes/settings/Database.svelte
Due: typecheck-svelte, prettier, eslint

Persist chat input even through different tab navigation
  src-svelte/src/lib/__mocks__/stores.ts
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
  src-svelte/src/routes/chat/PersistentChatView.stories.ts
Due: typecheck-svelte, prettier, eslint

Fix API call IDs and timestamp
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Add ability to invoke Ollama chat request on backend
  .gitmodules
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-calls/chat-start-conversation-ollama.yaml
  src-tauri/api/sample-database-writes/conversation-started-ollama/dump.sql
  src-tauri/api/sample-database-writes/conversation-started-ollama/dump.yaml
  src-tauri/api/sample-network-requests/start-conversation-ollama.json
  src-tauri/clippy.py
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/models/llm_calls/chat_message.rs
  src-tauri/src/setup/api_keys.rs
Due: prettier, cargo-fmt, cargo-clippy

Add GPT-4o as a usable model too
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
Due: typecheck-svelte, prettier, eslint

Set provider and LLM as well when editing API call
  src-svelte/src/routes/api-calls/[slug]/Actions.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCall.test.ts
  src-svelte/src/routes/api-calls/new/test.data.ts
  src-tauri/api/sample-calls/get_api_call-ollama.yaml
  src-tauri/src/commands/llms/get_api_call.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Persist model and provider settings on API submission page
  src-svelte/src/lib/__mocks__/MockRemount.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.test.ts
  src-svelte/src/routes/api-calls/new/PersistentApiCallEditor.stories.ts
  src-svelte/src/routes/api-calls/new/PersistentApiCallEditorView.svelte
Due: typecheck-svelte, prettier, eslint

Update screenshots for Ollama calls
  src-svelte/screenshots/baseline/screens/llm-call/new/blank-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/new/blank.png
  src-svelte/screenshots/baseline/screens/llm-call/new/busy-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/new/busy.png
  src-svelte/screenshots/baseline/screens/llm-call/new/edit-continued-conversation.png
  src-svelte/screenshots/baseline/screens/llm-call/new/with-emoji-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/new/with-emoji.png
  webdriver/screenshots/baseline/desktop_wry/api-call-individual.png
  webdriver/screenshots/baseline/desktop_wry/new-api-call.png
Due: none

Update seemingly unrelated screenshots
  src-svelte/screenshots/baseline/screens/llm-call/individual/narrow.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/variant.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/wide.png
  src-svelte/screenshots/baseline/screens/llm-call/list/full.png
  src-svelte/screenshots/baseline/screens/llm-call/list/small.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-populated.png
Due: none

Allow for different separator cutoffs
  src-tauri/clippy.py
Due: none

Refactor to have new page for each test
  src-svelte/src/routes/api-calls/ApiCalls.playwright.test.ts
Due: typecheck-svelte, prettier, eslint

Try to ensure increased timeout of ApiCalls test to avoid flakiness on CI
  src-svelte/src/routes/api-calls/ApiCalls.playwright.test.ts
Due: typecheck-svelte, prettier, eslint

Bump version to 0.1.7 for next release
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-disk-writes/db-import-export/conflicting-llm-call/conflicting-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/conversation-edited-2/test-folder/exported-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/different-api-key/different.zamm.yaml
  src-tauri/api/sample-disk-writes/preferences/version-init/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/version-update/preferences.toml
  src-tauri/tauri.conf.json
Due: prettier

Update screenshot for 0.1.7 welcome page
  webdriver/screenshots/baseline/desktop_wry/welcome-screen.png
Due: none

Add models for AsciiCast terminal recording
  src-tauri/migrations/2024-06-27-125941_add_asciicasts/down.sql
  src-tauri/migrations/2024-06-27-125941_add_asciicasts/up.sql
  src-tauri/src/commands/system.rs
  src-tauri/src/models/asciicasts.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/models/shell.rs
  src-tauri/src/schema.rs
Due: cargo-fmt, cargo-clippy

Add sample code that captures both stderr and stdout from commandline commands
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-terminal-sessions/interleaved.py
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/terminal.rs
Due: cargo-fmt, cargo-clippy

Use shlex to simplify command processing
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/terminal.rs
  src-tauri/src/test_helpers/terminal.rs
Due: cargo-fmt, cargo-clippy

Add class for terminal replay
  src-tauri/api/sample-terminal-sessions/date.cast
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/terminal.rs
  src-tauri/src/models/asciicasts.rs
  src-tauri/src/test_helpers/mod.rs
  src-tauri/src/test_helpers/terminal.rs
Due: cargo-fmt, cargo-clippy

Store terminal session resulting from API call in the database
  src-tauri/api/sample-calls/run_command-date.yaml
  src-tauri/api/sample-database-writes/command-run-date/dump.sql
  src-tauri/api/sample-database-writes/command-run-date/dump.yaml
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/commands/terminal/run.rs
  src-tauri/src/models/asciicasts.rs
  src-tauri/src/models/database_contents.rs
  src-tauri/src/test_helpers/sqlite.rs
  src-tauri/src/test_helpers/terminal.rs
Due: prettier, cargo-fmt, cargo-clippy

Path conditions:
  typecheck-svelte: any of: \.(ts|svelte)$, but not: ^webdriver/
  prettier: any of: \.(json|yaml|html|js|ts|svelte)$, but not: ^src-tauri/api/sample-database-writes/
  eslint: any of: \.(js|ts|svelte)$, but not: src-svelte/src/lib/sample-call.ts
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
