Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.1.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--disallow-untyped-defs, --ignore-missing-imports]
        additional_dependencies:
          - types-PyYAML
  - repo: local
    hooks:
      - id: typecheck-svelte
        name: svelte-check
        entry: yarn workspace gui svelte-check --fail-on-warnings
        language: system
        types: [file]
        files: \.(ts|svelte)$
        exclude: ^webdriver/
      - id: prettier
        name: prettier
        entry: yarn prettier --write --plugin prettier-plugin-svelte
        language: system
        types: [file]
        files: \.(json|yaml|html|js|ts|svelte)$
        exclude: ^src-tauri/api/sample-database-writes/
      - id: eslint
        name: eslint
        entry: yarn eslint --fix --max-warnings=0
        language: system
        types: [file]
        files: \.(js|ts|svelte)$
        exclude: src-svelte/src/lib/sample-call.ts
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        types: [rust]
      - id: cargo-clippy
        name: cargo clippy
        entry: python src-tauri/clippy.py
        language: system
        types: [rust]
        pass_filenames: false

Add custom Chinese font for background
  src-svelte/package.json
  src-svelte/src/routes/BackgroundUI.svelte
  src-svelte/src/routes/styles.css
  yarn.lock
Due: typecheck-svelte, prettier, eslint

Position scrollbars at right side of entire window
  src-svelte/src/routes/AppLayout.svelte
Due: typecheck-svelte, prettier, eslint

Try to wait for Chinese font to load before animating background
  src-svelte/package.json
  src-svelte/src/routes/BackgroundUI.svelte
  yarn.lock
Due: typecheck-svelte, prettier, eslint

Try a different way of ensuring the font is loaded before animating the background
  src-svelte/src/routes/BackgroundUI.svelte
  src-svelte/static/public-fonts/zhi-mang-xing.ttf
Due: typecheck-svelte, prettier, eslint

Update screenshots
  src-svelte/screenshots/baseline/layout/app/static.png
  src-svelte/screenshots/baseline/layout/background/static-variant-1.png
  src-svelte/screenshots/baseline/layout/background/static-variant-2.png
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/full-message-width.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/new-message-sent.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/llm-call/list/full-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/list/full.png
  src-svelte/screenshots/baseline/screens/settings/large-phone-screen.png
  src-svelte/screenshots/baseline/screens/settings/tablet.png
  src-svelte/screenshots/baseline/screens/settings/tiny-phone-screen.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-800x600.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: none

Fix AppLayout test by mocking document.fonts
  src-svelte/package.json
  src-svelte/src/routes/AppLayout.test.ts
  src-svelte/src/routes/BackgroundUI.svelte
  src-svelte/src/routes/styles.css
  yarn.lock
Due: typecheck-svelte, prettier, eslint

Fix page transition story
  src-svelte/src/routes/PageTransitionView.svelte
Due: typecheck-svelte, prettier, eslint

Add transparent InfoBox story
  src-svelte/src/lib/InfoBox.stories.ts
  src-svelte/src/lib/__mocks__/MockPageTransitions.svelte
Due: typecheck-svelte, prettier, eslint

Add screenshot test for transparent InfoBox
  src-svelte/screenshots/baseline/reusable/infobox/transparent.png
  src-svelte/src/lib/InfoBoxView.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Transition between pages differently for different route changes
  src-svelte/src/routes/PageTransition.stories.ts
  src-svelte/src/routes/PageTransition.svelte
  src-svelte/src/routes/PageTransition.test.ts
  src-svelte/src/routes/PageTransitionView.svelte
Due: typecheck-svelte, prettier, eslint

Fix send button height to match form
  src-svelte/src/lib/controls/Button.svelte
  src-svelte/src/routes/chat/Form.svelte
Due: typecheck-svelte, prettier, eslint

Refactor Button to use slot instead of Prop
  src-svelte/src/lib/controls/Button.svelte
  src-svelte/src/routes/api-calls/[slug]/Actions.svelte
  src-svelte/src/routes/chat/Form.svelte
  src-svelte/src/routes/components/api-keys/Form.svelte
Due: typecheck-svelte, prettier, eslint

Fix regression with vertical centering of chat placeholder text
  src-svelte/src/routes/chat/Form.svelte
Due: typecheck-svelte, prettier, eslint

Fix Button story after new slot refactor
  src-svelte/src/lib/controls/Button.stories.ts
  src-svelte/src/lib/controls/ButtonView.svelte
Due: typecheck-svelte, prettier, eslint

Add credits for Gravity UI icon set
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/static/logos/gravity-ui.png
Due: typecheck-svelte, prettier, eslint

Use icon for chat save button
  src-svelte/src/routes/chat/Form.svelte
Due: typecheck-svelte, prettier, eslint

Restore ARIA accessibility to send button
  src-svelte/src/lib/controls/Button.svelte
  src-svelte/src/routes/chat/Form.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Update screenshots for chat send button icon
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/extra-long-input.png
  src-svelte/screenshots/baseline/screens/chat/conversation/full-message-width.png
  src-svelte/screenshots/baseline/screens/chat/conversation/new-message-sent.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/typing-indicator-static.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
Due: none

Add spacing between top and bottom buttons of sidebar
  src-svelte/screenshots/baseline/layout/app/static.png
  src-svelte/screenshots/baseline/layout/sidebar/credits-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/dashboard-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/settings-selected.png
  src-svelte/src/routes/SidebarUI.svelte
  webdriver/screenshots/baseline/desktop_wry/api-calls-800x600.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: typecheck-svelte, prettier, eslint

Fix credits screen scrollbars introduced by sidebar spacer
  src-svelte/src/routes/SidebarUI.svelte
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
Due: typecheck-svelte, prettier, eslint

Fix Mac publish script that fails on Node gyp
  .github/workflows/publish.yaml
Due: prettier

Fix Mac publish script for x86_64 build
  .github/workflows/publish.yaml
Due: prettier

Bump version number to 0.1.4 for next release
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: prettier

Refactor LLM calls module into separate sub-modules
  src-tauri/src/models/llm_calls.rs
  src-tauri/src/models/llm_calls/chat_message.rs
  src-tauri/src/models/llm_calls/entity_id.rs
  src-tauri/src/models/llm_calls/llm_call.rs
  src-tauri/src/models/llm_calls/mod.rs
  src-tauri/src/models/llm_calls/prompt.rs
  src-tauri/src/models/llm_calls/row.rs
  src-tauri/src/models/llm_calls/various.rs
Due: cargo-fmt, cargo-clippy

Return lightweight LLM call info back to frontend
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/api/sample-calls/chat-start-conversation.yaml
  src-tauri/api/sample-calls/get_api_calls-full.yaml
  src-tauri/api/sample-calls/get_api_calls-offset.yaml
  src-tauri/api/sample-calls/get_api_calls-small.yaml
  src-tauri/api/sample-database-writes/many-api-calls/generate.py
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/models/llm_calls/lightweight_llm_call.rs
  src-tauri/src/models/llm_calls/mod.rs
Due: prettier, cargo-fmt, cargo-clippy

Update frontend to use new lightweight LLM call model
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/api-calls/ApiCalls.svelte
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
Due: typecheck-svelte, prettier, eslint

Run Svelte tests inside Docker image in CI
  .github/workflows/tests.yaml
  Dockerfile
  Makefile
  src-svelte/Makefile
  src-tauri/Cargo.toml
Due: prettier

Try to run Svelte tests with --pool=forks
  src-svelte/Makefile
  src-svelte/package.json
Due: prettier

Try succeeding with Storybook page load before continuing with tests
  src-svelte/src/lib/test-helpers.ts
Due: typecheck-svelte, prettier, eslint

Change default timeouts to allow Playwright selectors to timeout first
  src-svelte/src/lib/Slider.playwright.test.ts
  src-svelte/src/lib/Switch.playwright.test.ts
  src-svelte/src/routes/api-calls/ApiCalls.playwright.test.ts
  src-svelte/vitest.config.ts
Due: typecheck-svelte, prettier, eslint

Refactor and apply timeout changes only to Playwright tests
  src-svelte/src/lib/Slider.playwright.test.ts
  src-svelte/src/lib/Switch.playwright.test.ts
  src-svelte/src/lib/test-helpers.ts
  src-svelte/src/routes/api-calls/ApiCalls.playwright.test.ts
  src-svelte/src/routes/storybook.test.ts
  src-svelte/vitest.config.ts
Due: typecheck-svelte, prettier, eslint

Try upgrading NodeJS version
  .github/workflows/publish.yaml
  .github/workflows/tests.yaml
  Dockerfile
  yarn.lock
Due: prettier

Fix gif_lib.h errors on CI
  .github/workflows/tests.yaml
Due: prettier

Undo changes to NodeJS upgrade due to screenshot changes and lack of canvas binary for Windows builds
  .github/workflows/publish.yaml
  .github/workflows/tests.yaml
  Dockerfile
  yarn.lock
Due: prettier

Manually trigger specta bindings export
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/cli.rs
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Allow bindings.ts to be formatted by prettier
  .prettierignore
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte, prettier, eslint

Add database migration to support linking API calls
  src-tauri/migrations/2024-05-13-135101_add_api_call_continuations/down.sql
  src-tauri/migrations/2024-05-13-135101_add_api_call_continuations/up.sql
  src-tauri/src/schema.rs
Due: cargo-fmt, cargo-clippy

Simplify LlmCall struct to avoid nested Options
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/models/llm_calls/llm_call.rs
  src-tauri/src/models/llm_calls/various.rs
Due: cargo-fmt, cargo-clippy

Fix code and tests for actual linked call
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/api/sample-calls/get_api_call-continue-conversation.yaml
  src-tauri/api/sample-calls/get_api_call-start-conversation.yaml
  src-tauri/api/sample-database-writes/conversation-continued/dump.sql
  src-tauri/api/sample-database-writes/conversation-continued/dump.yaml
  src-tauri/src/models/llm_calls/various.rs
  src-tauri/src/test_helpers/database_contents.rs
Due: prettier, cargo-fmt, cargo-clippy

Make LlmCallRow identifiable
  src-tauri/src/models/llm_calls/entity_id.rs
  src-tauri/src/models/llm_calls/row.rs
Due: cargo-fmt, cargo-clippy
