Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.1.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--disallow-untyped-defs, --ignore-missing-imports]
        additional_dependencies:
          - types-PyYAML
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.0.0-alpha.2
    hooks:
      - id: eslint
        types: [file]
        args: [--fix, --max-warnings=0]
        files: \.(js|ts|svelte)$
        exclude: src-svelte/src/lib/sample-call.ts
        additional_dependencies:
          - eslint
          - svelte
          - typescript
          - eslint-plugin-svelte
          - eslint-config-prettier
          - "@typescript-eslint/eslint-plugin"
          - "@typescript-eslint/parser"
          - svelte-eslint-parser
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        args: [--write, --plugin, prettier-plugin-svelte]
        files: \.(json|yaml|html|js|ts|svelte)$
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte
  - repo: local
    hooks:
      - id: typecheck-svelte
        name: svelte-check
        entry: yarn workspace gui svelte-check --fail-on-warnings
        language: system
        types: [file]
        files: \.(ts|svelte)$
        exclude: ^webdriver/
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        types: [rust]
      - id: cargo-clippy
        name: cargo clippy
        entry: src-tauri/clippy.sh
        language: system
        types: [rust]
        pass_filenames: false

Update README after files were copied over
  README.md
Due: none

Fix breaking change introduced in https://github.com/prettier/prettier/issues/15942 but then undone again in v3.2.5
  .pre-commit-config.yaml
  package.json
  src-svelte/tsconfig.json
  yarn.lock
Due: none

Try starting and stopping Storybook once across all test suites
  src-svelte/src/lib/Slider.playwright.test.ts
  src-svelte/src/lib/Switch.playwright.test.ts
  src-svelte/src/routes/storybook.test.ts
  src-svelte/src/testSetup.ts
  src-svelte/vitest.config.ts
Due: typecheck-svelte

Try running one test at a time after upgrading Vitest
  package.json
  src-svelte/package.json
  src-svelte/src/routes/storybook.test.ts
  src-svelte/vitest.config.ts
  yarn.lock
Due: typecheck-svelte

Update Docker build image to fit with new dependencies
  .github/workflows/tests.yaml
  Dockerfile
  Makefile
Due: none

Wait for images to load for Storybook tests
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Truly fix icon in screenshot by specifying full path
  src-svelte/src/routes/credits/Creditor.stories.ts
Due: typecheck-svelte

Wait for fonts in frame to load
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Revert "Wait for fonts in frame to load"
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Bump version number for next future release
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: none

Add Windows publishing workflow, and update Tauri version number
  .github/workflows/publish.yaml
  src-tauri/tauri.conf.json
Due: none

Add license files for Windows installers
  LICENSE.rtf
  src-tauri/tauri.conf.json
Due: none

Don't output Specta types on Windows
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Add PowerShell as a shell option
  src-svelte/src/lib/bindings.ts
  src-tauri/src/commands/system.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Address new unused import warnings
  src-tauri/src/commands/preferences/mod.rs
  src-tauri/src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

Get check_set_api_key_sample passing on Windows
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
Due: cargo-fmt, cargo-clippy

Get shell init file tests ignored or passing on Windows
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/system.rs
Due: cargo-fmt, cargo-clippy

Fix Storybook init on Windows
  src-svelte/.storybook/main.ts
Due: typecheck-svelte

Add proper snackbar message screenshot as main
  src-svelte/screenshots/baseline/layout/snackbar/message-variant-1.png
  src-svelte/screenshots/baseline/layout/snackbar/message.png
Due: none

Try to always recompile Neodrag before running pre-commit
  .github/workflows/tests.yaml
Due: none

Refactor database setup functions into test_helpers
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/test_helpers.rs
Due: cargo-fmt, cargo-clippy

Refactor out test helpers into their own module
  src-tauri/src/test_helpers/database.rs
  src-tauri/src/test_helpers/mod.rs
  src-tauri/src/test_helpers/temp_files.rs
Due: cargo-fmt, cargo-clippy

Refactor out some common API test logic into helper module
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/mod.rs
Due: cargo-fmt, cargo-clippy

Refactor out actual sample calling into API testing module
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Refactor out result checks into API testing module
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/mod.rs
Due: cargo-fmt, cargo-clippy

Make result checking more flexible
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Add disk operations testing to backend testing infrastructure
  src-svelte/src/lib/sample-call.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-call-schema.json
  src-tauri/api/sample-calls/get_preferences-extra-settings.yaml
  src-tauri/api/sample-calls/get_preferences-no-file.yaml
  src-tauri/api/sample-calls/get_preferences-sound-override.yaml
  src-tauri/api/sample-calls/get_preferences-volume-override.yaml
  src-tauri/api/sample-calls/set_preferences-sound-off.yaml
  src-tauri/api/sample-calls/set_preferences-sound-on.yaml
  src-tauri/api/sample-calls/set_preferences-volume-partial.yaml
  src-tauri/api/sample-disk-writes/empty/.gitkeep
  src-tauri/api/sample-disk-writes/sound-off-extra-settings/preferences.toml
  src-tauri/api/sample-disk-writes/sound-on-extra-settings/preferences.toml
  src-tauri/api/sample-disk-writes/sound-override/preferences.toml
  src-tauri/api/sample-disk-writes/volume-override/preferences.toml
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/sample_call.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/mod.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Move sample preference disk writes into its own directory
  src-tauri/api/sample-calls/get_preferences-extra-settings.yaml
  src-tauri/api/sample-calls/get_preferences-sound-override.yaml
  src-tauri/api/sample-calls/get_preferences-volume-override.yaml
  src-tauri/api/sample-calls/set_preferences-sound-off.yaml
  src-tauri/api/sample-calls/set_preferences-sound-on.yaml
  src-tauri/api/sample-calls/set_preferences-volume-partial.yaml
  src-tauri/api/sample-disk-writes/preferences/sound-off-extra-settings/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/sound-on-extra-settings/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/sound-override/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/volume-override/preferences.toml
Due: none

Refactor set_api_key tests to use new standardized side effects checker
  .github/workflows/tests.yaml
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-tauri/Makefile
  src-tauri/api/sample-calls/set_api_key-empty-filename.yaml
  src-tauri/api/sample-calls/set_api_key-existing-no-newline.yaml
  src-tauri/api/sample-calls/set_api_key-invalid-filename.yaml
  src-tauri/api/sample-calls/set_api_key-nested-folder.yaml
  src-tauri/api/sample-calls/set_api_key-no-disk-write.yaml
  src-tauri/api/sample-calls/set_api_key-no-file.yaml
  src-tauri/api/sample-calls/set_api_key-unset.yaml
  src-tauri/api/sample-disk-writes/shell-init/nested/end/folder/.bashrc
  src-tauri/api/sample-disk-writes/shell-init/nested/start/folder/.bashrc
  src-tauri/api/sample-disk-writes/shell-init/new-file/.bashrc
  src-tauri/api/sample-disk-writes/shell-init/no-newline/end/.bashrc
  src-tauri/api/sample-disk-writes/shell-init/no-newline/start/.bashrc
  src-tauri/api/sample-disk-writes/shell-init/with-newline/end/.bashrc
  src-tauri/api/sample-disk-writes/shell-init/with-newline/start/.bashrc
  src-tauri/api/sample-init-files/unset/.bashrc
  src-tauri/api/sample-init-files/unset/expected.bashrc
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/mod.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Refactor out standard function for getting test subdirectory
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Remove superfluous comma
  src-tauri/src/commands/keys/set.rs
Due: cargo-fmt, cargo-clippy

Move mocked state variables together in function signatures
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
Due: cargo-fmt, cargo-clippy

Move current directory code into api_testing
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Refactor standardized test API to support checking database side effects
  .pre-commit-config.yaml
  src-svelte/src/lib/sample-call.ts
  src-tauri/Cargo.toml
  src-tauri/api/sample-call-schema.json
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/api/sample-calls/chat-start-conversation.yaml
  src-tauri/api/sample-database-writes/conversation-continued.yaml
  src-tauri/api/sample-database-writes/conversation-started.yaml
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/mod.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/models/api_keys.rs
  src-tauri/src/models/llm_calls.rs
  src-tauri/src/sample_call.rs
  src-tauri/src/setup/api_keys.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/database_contents.rs
  src-tauri/src/test_helpers/mod.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Have the tests for the set-api-key API use the new database side effects
  src-tauri/api/sample-calls/set_api_key-different.yaml
  src-tauri/api/sample-calls/set_api_key-empty-filename.yaml
  src-tauri/api/sample-calls/set_api_key-existing-no-newline.yaml
  src-tauri/api/sample-calls/set_api_key-existing-with-newline.yaml
  src-tauri/api/sample-calls/set_api_key-invalid-filename.yaml
  src-tauri/api/sample-calls/set_api_key-nested-folder.yaml
  src-tauri/api/sample-calls/set_api_key-no-disk-write.yaml
  src-tauri/api/sample-calls/set_api_key-no-file.yaml
  src-tauri/api/sample-database-writes/different-openai-api-key.yaml
  src-tauri/api/sample-database-writes/empty.yaml
  src-tauri/api/sample-database-writes/openai-api-key.yaml
  src-tauri/api/sample-disk-writes/shell-init/different/.bashrc
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/database_contents.rs
  src-tauri/src/test_helpers/mod.rs
Due: cargo-fmt, cargo-clippy

Refactor remaining uses of setup_database
  src-tauri/src/models/api_keys.rs
  src-tauri/src/setup/api_keys.rs
Due: cargo-fmt, cargo-clippy

Check against actual SQL dump
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/api/sample-calls/chat-start-conversation.yaml
  src-tauri/api/sample-calls/set_api_key-different.yaml
  src-tauri/api/sample-calls/set_api_key-empty-filename.yaml
  src-tauri/api/sample-calls/set_api_key-existing-no-newline.yaml
  src-tauri/api/sample-calls/set_api_key-existing-with-newline.yaml
  src-tauri/api/sample-calls/set_api_key-invalid-filename.yaml
  src-tauri/api/sample-calls/set_api_key-nested-folder.yaml
  src-tauri/api/sample-calls/set_api_key-no-disk-write.yaml
  src-tauri/api/sample-calls/set_api_key-no-file.yaml
  src-tauri/api/sample-calls/set_api_key-unset.yaml
  src-tauri/api/sample-database-writes/conversation-continued/dump.sql
  src-tauri/api/sample-database-writes/conversation-continued/dump.yaml
  src-tauri/api/sample-database-writes/conversation-started/dump.sql
  src-tauri/api/sample-database-writes/conversation-started/dump.yaml
  src-tauri/api/sample-database-writes/different-openai-api-key/dump.sql
  src-tauri/api/sample-database-writes/different-openai-api-key/dump.yaml
  src-tauri/api/sample-database-writes/empty/dump.sql
  src-tauri/api/sample-database-writes/empty/dump.yaml
  src-tauri/api/sample-database-writes/openai-api-key/dump.sql
  src-tauri/api/sample-database-writes/openai-api-key/dump.yaml
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/models/api_keys.rs
  src-tauri/src/setup/api_keys.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/database.rs
  src-tauri/src/test_helpers/database_contents.rs
Due: cargo-fmt, cargo-clippy

Refactor set tests to use hashmap replacement in api_testing
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Add standardized network side effect testing
  src-svelte/src/lib/sample-call.ts
  src-tauri/api/sample-call-schema.json
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/api/sample-calls/chat-start-conversation.yaml
  src-tauri/api/sample-network-requests/continue-conversation.json
  src-tauri/api/sample-network-requests/start-conversation.json
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/sample_call.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Install SQLite3 before Rust tests
  .github/workflows/tests.yaml
Due: none
