Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, cargo-fmt, cargo-clippy

typecheck-svelte:
  name: svelte-check
  entry: yarn workspace gui svelte-check --fail-on-warnings
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: src-tauri/clippy.sh
  language: system
  pass_filenames: false

Update Rust version
  .github/workflows/publish.yaml
  .github/workflows/tests.yaml
  Dockerfile
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte

Address new clippy lint
  src-tauri/src/commands/keys/set.rs
Due: cargo-fmt, cargo-clippy

Move Neodrag fork to main top-level forks folder
  .github/workflows/publish.yaml
  .github/workflows/tests.yaml
  .gitmodules
  Dockerfile
  Makefile
  src-svelte/Makefile
  src-svelte/package.json
  yarn.lock
Due: none

Change chat message bubble to take up 80% of space by default
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Add better logic around message bubble resizing
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Message.svelte
  src-svelte/src/routes/chat/MessageUI.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Update screenshot tests for message bubble resizing
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/full-message-width.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/message/ai.png
  src-svelte/screenshots/baseline/screens/chat/message/human.png
Due: none

Get pre-commit working on Windows
  .pre-commit-config.yaml
  src-tauri/clippy.py
  src-tauri/clippy.sh
Due: none

Fix Neodrag not being found for pre-commit
  .github/workflows/tests.yaml
Due: none

Update clippy script for CI
  src-tauri/clippy.py
Due: none

Add Markdown rendering for chat messages
  src-svelte/package.json
  src-svelte/src/routes/chat/Message.stories.ts
  src-svelte/src/routes/chat/Message.svelte
  src-svelte/src/routes/chat/MessageUI.svelte
  src-svelte/src/routes/storybook.test.ts
  yarn.lock
Due: typecheck-svelte

Add syntax highlighting to code blocks
  src-svelte/package.json
  src-svelte/src/routes/chat/CodeRender.svelte
  src-svelte/src/routes/chat/Message.svelte
  yarn.lock
Due: typecheck-svelte

Fix message bubble resizing once more
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/CodeRender.svelte
  src-svelte/src/routes/chat/Message.svelte
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Use Inconsolata as cross-platform monospace font
  src-svelte/package.json
  src-svelte/src/routes/chat/CodeRender.svelte
  src-svelte/src/routes/styles.css
  yarn.lock
Due: typecheck-svelte

Update screenshots to reflect code snippets in chat messages
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/full-message-width.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat-variant-1.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/message/ai-multiline.png
  src-svelte/screenshots/baseline/screens/chat/message/code-variant-1.png
  src-svelte/screenshots/baseline/screens/chat/message/code.png
Due: none

Use JetBrains Mono after all for code blocks
  src-svelte/package.json
  src-svelte/src/routes/chat/CodeRender.svelte
  src-svelte/src/routes/styles.css
  yarn.lock
Due: typecheck-svelte

Inset code blocks into the chat message
  src-svelte/src/routes/chat/Message.stories.ts
  src-svelte/src/routes/chat/MessageUI.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Update screenshots to reflect inset code blocks
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/full-message-width.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat-variant-1.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/message/ai-code.png
  src-svelte/screenshots/baseline/screens/chat/message/code-variant-1.png
  src-svelte/screenshots/baseline/screens/chat/message/code.png
  src-svelte/screenshots/baseline/screens/chat/message/highlighted-ai-code.png
  src-svelte/screenshots/baseline/screens/chat/message/highlighted-human-code.png
  src-svelte/screenshots/baseline/screens/chat/message/human-code.png
Due: none

Fix build failure from Neodrag fork location having been moved
  src-svelte/Makefile
Due: none

Fix build for Windows after Neodrag move
  .github/workflows/publish.yaml
Due: none

Add auto-update config settings
  .github/workflows/publish.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Add Tauri private key and password to regular CI build
  .github/workflows/tests.yaml
Due: none

Add info box for data import/export
  src-svelte/src/routes/settings/Settings.svelte
Due: typecheck-svelte

Add credits for icon plugins and icon sets
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/static/logos/element-plus.png
  src-svelte/static/logos/google.svg
  src-svelte/static/logos/iconify.png
  src-svelte/static/logos/phosphor-icons.svg
  src-svelte/static/logos/tabler.svg
  src-svelte/static/logos/unplugin.svg
Due: typecheck-svelte

Add credits for pre-commit and fonts
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/static/logos/pre-commit.svg
Due: typecheck-svelte

Customize Typodermic links like GitHub ones
  src-svelte/screenshots/baseline/screens/credits/creditor/regular.png
  src-svelte/screenshots/baseline/screens/credits/creditor/typodermic-font.png
  src-svelte/src/routes/credits/Creditor.stories.ts
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/TypodermicIcon.svelte
  src-svelte/src/routes/storybook.test.ts
  src-svelte/static/logos/typodermic.png
Due: typecheck-svelte

Fix message bubbles not resizing properly on fractional width
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Ensure other width values are also integers
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Update screenshots
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat-variant-1.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/typing-indicator-static.png
Due: none

Fight Storybook test flakiness with SSIM
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Constrain max height on chat text input
  src-svelte/screenshots/baseline/screens/chat/conversation/extra-long-input.png
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Form.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Document release instructions
  RELEASE.md
Due: none

Bump version number for next release
  RELEASE.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: none

Upgrade to SvelteKit 2
  src-svelte/package.json
  src-svelte/svelte.config.js
  yarn.lock
Due: none

Add script for better SSIM screenshots diff
  .github/workflows/tests.yaml
  src-svelte/Makefile
  src-svelte/diff-screenshots.py
  src-svelte/screenshots/baseline/layout/snackbar/message-variant-1.png
  src-svelte/screenshots/baseline/reusable/infobox/regular-variant-1.png
  src-svelte/screenshots/baseline/reusable/infobox/regular.png
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/extra-long-input.png
  src-svelte/screenshots/baseline/screens/chat/conversation/full-message-width.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/typing-indicator-static.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled-variant-1.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-variant-1.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/known-variant-1.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/known.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/loading-variant-1.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/loading.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/unknown-variant-1.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/unknown.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loaded.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loading.png
  src-svelte/screenshots/baseline/screens/settings/large-phone-screen-variant-1.png
  src-svelte/screenshots/baseline/screens/settings/large-phone-screen.png
  src-svelte/screenshots/baseline/screens/settings/tablet.png
  src-svelte/screenshots/baseline/screens/settings/tiny-phone-screen.png
Due: none

Fix testing flukes on Storybook on Windows
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Message.svelte
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Refactor out Scrollable logic from Chat component
  src-svelte/src/lib/FixedScrollable.stories.ts
  src-svelte/src/lib/FixedScrollable.svelte
  src-svelte/src/lib/FixedScrollableView.svelte
  src-svelte/src/lib/Scrollable.stories.ts
  src-svelte/src/lib/Scrollable.svelte
  src-svelte/src/lib/ScrollableView.svelte
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Message.svelte
  src-svelte/src/routes/chat/MessageUI.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Restore final timeout value to larger one
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Add Storybook interaction test for chat message send
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Update with new screenshots of scrollable component
  src-svelte/screenshots/baseline/reusable/scrollable/fixed/bottom.png
  src-svelte/screenshots/baseline/reusable/scrollable/fixed/top.png
  src-svelte/screenshots/baseline/reusable/scrollable/growable/large-variant-1.png
  src-svelte/screenshots/baseline/reusable/scrollable/growable/large.png
  src-svelte/screenshots/baseline/reusable/scrollable/growable/small-variant-1.png
  src-svelte/screenshots/baseline/reusable/scrollable/growable/small.png
  src-svelte/screenshots/baseline/screens/chat/conversation/new-message-sent.png
Due: none

Fix JS error on non-screenshot frontend tests
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte

Path conditions:
  typecheck-svelte: any of: \.(ts|svelte)$, but not: ^webdriver/
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
