Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

typecheck-svelte:
  name: svelte-check
  entry: yarn workspace gui svelte-check --fail-on-warnings
  language: system

prettier:
  name: prettier
  entry: yarn prettier --write --plugin prettier-plugin-svelte
  language: system

eslint:
  name: eslint
  entry: yarn eslint --fix --max-warnings=0
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: python src-tauri/clippy.py
  language: system
  pass_filenames: false

Refactor out ZammResult returns into a macro
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/mod.rs
Due: cargo-fmt, cargo-clippy

Refactor out macro for direct return test cases
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Add models for AsciiCast terminal recording
  src-tauri/migrations/2024-06-27-125941_add_asciicasts/down.sql
  src-tauri/migrations/2024-06-27-125941_add_asciicasts/up.sql
  src-tauri/src/commands/system.rs
  src-tauri/src/models/asciicasts.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/models/shell.rs
  src-tauri/src/schema.rs
Due: cargo-fmt, cargo-clippy

Add sample code that captures both stderr and stdout from commandline commands
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-terminal-sessions/interleaved.py
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/terminal.rs
Due: cargo-fmt, cargo-clippy

Get terminal output capture tests working on Windows
  src-tauri/src/commands/terminal.rs
Due: cargo-fmt, cargo-clippy

Implement SQL serialization and deserialization for ASCII casts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/models/asciicasts.rs
Due: cargo-fmt, cargo-clippy

Store OS instead of shell in cast metadata
  src-tauri/migrations/2024-06-27-125941_add_asciicasts/up.sql
  src-tauri/src/commands/system.rs
  src-tauri/src/models/asciicasts.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/models/os.rs
  src-tauri/src/schema.rs
Due: cargo-fmt, cargo-clippy

Add class for terminal replay
  src-tauri/api/sample-terminal-sessions/date.cast
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/terminal.rs
  src-tauri/src/models/asciicasts.rs
  src-tauri/src/test_helpers/mod.rs
  src-tauri/src/test_helpers/terminal.rs
Due: cargo-fmt, cargo-clippy

Add terminal recording to sample call definition
  .pre-commit-config.yaml
  src-svelte/src/lib/sample-call.ts
  src-tauri/api/sample-call-schema.json
  src-tauri/src/sample_call.rs
Due: typecheck-svelte, prettier, cargo-fmt, cargo-clippy

Add test terminal to API test helpers when specified
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/terminal.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/terminal.rs
Due: cargo-fmt, cargo-clippy

Use shlex to simplify command processing
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/terminal.rs
  src-tauri/src/test_helpers/terminal.rs
Due: cargo-fmt, cargo-clippy

Make side effects in tests mutable
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/upgrades.rs
Due: cargo-fmt, cargo-clippy

Implement preliminary API call for command execution
  src-tauri/api/sample-calls/run_command-date.yaml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/terminal/mod.rs
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/commands/terminal/run.rs
Due: prettier, cargo-fmt, cargo-clippy

Actually add run_command command to main.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/terminal/mod.rs
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/commands/terminal/run.rs
  src-tauri/src/main.rs
  src-tauri/src/models/asciicasts.rs
Due: cargo-fmt, cargo-clippy

Store terminal session resulting from API call in the database
  src-tauri/api/sample-calls/run_command-date.yaml
  src-tauri/api/sample-database-writes/command-run-date/dump.sql
  src-tauri/api/sample-database-writes/command-run-date/dump.yaml
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/commands/terminal/run.rs
  src-tauri/src/models/asciicasts.rs
  src-tauri/src/models/database_contents.rs
  src-tauri/src/test_helpers/sqlite.rs
  src-tauri/src/test_helpers/terminal.rs
Due: prettier, cargo-fmt, cargo-clippy

Update Specta bindings
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte, prettier, eslint

Commit GIMP file for ZAMM icon
  src-tauri/icons/icon.xcf
Due: none

Get all tests passing on the Mac as well
  src-tauri/src/commands/system.rs
Due: cargo-fmt, cargo-clippy

Document useful files in project
  README.md
Due: none

Get non-Storybook Playwright tests to pass on the Mac
  README.md
  src-svelte/src/lib/Slider.playwright.test.ts
  src-svelte/src/lib/Switch.playwright.test.ts
Due: typecheck-svelte, prettier, eslint

Make Window and UI smaller on Retina Macs
  src-svelte/src/routes/styles.css
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Adjust JS font sizes based on rem
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/lib/Slider.svelte
  src-svelte/src/lib/Switch.svelte
  src-svelte/src/lib/preferences.ts
  src-svelte/src/routes/BackgroundUI.svelte
Due: typecheck-svelte, prettier, eslint

Make Svelte quick tests command interactive
  src-svelte/Makefile
Due: none

Avoid cargo import reformat on non-Mac OS platforms
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Adapt media queries to Retina screens as well
  src-svelte/src/lib/Switch.svelte
  src-svelte/src/lib/controls/ButtonGroup.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/src/routes/credits/Grid.svelte
  src-svelte/src/routes/settings/Settings.svelte
Due: typecheck-svelte, prettier, eslint

Adjust font size for Mac Retina screens yet again
  src-svelte/retina-proportions.py
  src-svelte/src/lib/Switch.svelte
  src-svelte/src/lib/controls/ButtonGroup.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/src/routes/credits/Grid.svelte
  src-svelte/src/routes/settings/Settings.svelte
  src-svelte/src/routes/styles.css
  src-tauri/src/main.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Fix background animation going uncontrollably fast when general animation turned off
  src-svelte/src/routes/Background.svelte
Due: typecheck-svelte, prettier, eslint

Add settings switch for high DPI adjust
  src-svelte/src/lib/Switch.svelte
  src-svelte/src/lib/bindings.ts
  src-svelte/src/lib/controls/ButtonGroup.svelte
  src-svelte/src/lib/preferences.ts
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/AppLayout.test.ts
  src-svelte/src/routes/BackgroundUI.svelte
  src-svelte/src/routes/SidebarUI.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/src/routes/credits/Grid.svelte
  src-svelte/src/routes/settings/Settings.svelte
  src-svelte/src/routes/settings/Settings.test.ts
  src-svelte/src/routes/styles.css
  src-tauri/api/sample-calls/get_preferences-high-dpi-adjust-on.yaml
  src-tauri/api/sample-calls/get_preferences-no-file-mac.yaml
  src-tauri/api/sample-calls/set_preferences-high-dpi-adjust-off.yaml
  src-tauri/api/sample-calls/set_preferences-high-dpi-adjust-on.yaml
  src-tauri/api/sample-disk-writes/preferences/high-dpi-adjust-off/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/high-dpi-adjust-on/preferences.toml
  src-tauri/src/commands/preferences/models.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/main.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Refactor out root em calculation into a proper store
  src-svelte/src/lib/Slider.svelte
  src-svelte/src/lib/Switch.svelte
  src-svelte/src/lib/preferences.ts
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/BackgroundUI.svelte
Due: typecheck-svelte, prettier, eslint

Fix pre-commit import on non-Mac platforms
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Left-justify settings labels text when they wrap across two lines
  src-svelte/src/lib/Slider.svelte
  src-svelte/src/lib/Switch.svelte
Due: typecheck-svelte, prettier, eslint

Update screenshots
  src-svelte/screenshots/baseline/screens/settings/large-phone-screen.png
  src-svelte/screenshots/baseline/screens/settings/tablet.png
  src-svelte/screenshots/baseline/screens/settings/tiny-phone-screen.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen-800x600.png
Due: none

Make viewport for tiny mobile settings story tall enough to fit the entire box
  src-svelte/.storybook/preview.ts
  src-svelte/src/routes/settings/Settings.stories.ts
Due: typecheck-svelte, prettier, eslint

Add initial code to import data from Ollama or LM Studio
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/api-calls/new/import/+page.svelte
  src-svelte/src/routes/api-calls/new/import/ApiCallImport.svelte
  src-svelte/src/routes/api-calls/new/import/ApiCallImport.test.ts
Due: typecheck-svelte, prettier, eslint

Change instructions on import page
  src-svelte/src/routes/api-calls/new/import/ApiCallImport.svelte
Due: typecheck-svelte, prettier, eslint

Add stories and fix info box reveal animation
  src-svelte/src/routes/api-calls/new/import/ApiCallImport.stories.ts
  src-svelte/src/routes/api-calls/new/import/ApiCallImport.svelte
Due: typecheck-svelte, prettier, eslint

Add new screenshot test for conversation import page
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Update screenshots for conversation import page
  src-svelte/screenshots/baseline/screens/llm-call/import/static.png
  src-svelte/screenshots/baseline/screens/llm-call/new/blank.png
  src-svelte/screenshots/baseline/screens/llm-call/new/busy-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/new/busy.png
  src-svelte/screenshots/baseline/screens/llm-call/new/edit-continued-conversation-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/new/edit-continued-conversation.png
  webdriver/screenshots/baseline/desktop_wry/new-api-call-800x600.png
Due: none

Render DDJ text from right to left
  src-svelte/src/routes/BackgroundUI.svelte
  src-svelte/src/routes/BackgroundUI.test.ts
Due: typecheck-svelte, prettier, eslint

Update screenshots for right to left DDJ
  src-svelte/screenshots/baseline/layout/app/static.png
  src-svelte/screenshots/baseline/layout/background/static-variant-1.png
  src-svelte/screenshots/baseline/layout/background/static-variant-2.png
  src-svelte/screenshots/baseline/layout/background/static.png
  src-svelte/screenshots/baseline/reusable/infobox/transparent.png
  src-svelte/screenshots/baseline/screens/llm-call/new/blank-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/new/busy-variant-1.png
  webdriver/screenshots/baseline/desktop_wry/api-call-individual-800x600.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-800x600.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-populated-800x600.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/new-api-call-800x600.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: none

Path conditions:
  typecheck-svelte: any of: \.(ts|svelte)$, but not: ^webdriver/
  prettier: any of: \.(json|yaml|html|js|ts|svelte)$, but not: ^src-tauri/api/sample-database-writes/
  eslint: any of: \.(js|ts|svelte)$, but not: src-svelte/src/lib/sample-call.ts
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
