Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.1.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--disallow-untyped-defs, --ignore-missing-imports]
        additional_dependencies:
          - types-PyYAML
  - repo: local
    hooks:
      - id: typecheck-svelte
        name: svelte-check
        entry: yarn workspace gui svelte-check --fail-on-warnings
        language: system
        types: [file]
        files: \.(ts|svelte)$
        exclude: ^webdriver/
      - id: prettier
        name: prettier
        entry: yarn prettier --write --plugin prettier-plugin-svelte
        language: system
        types: [file]
        files: \.(json|yaml|html|js|ts|svelte)$
        exclude: ^src-tauri/api/sample-database-writes/
      - id: eslint
        name: eslint
        entry: yarn eslint --fix --max-warnings=0
        language: system
        types: [file]
        files: \.(js|ts|svelte)$
        exclude: src-svelte/src/lib/sample-call.ts
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        types: [rust]
      - id: cargo-clippy
        name: cargo clippy
        entry: python src-tauri/clippy.py
        language: system
        types: [rust]
        pass_filenames: false

Store OS instead of shell in cast metadata
  src-tauri/migrations/2024-06-27-125941_add_asciicasts/up.sql
  src-tauri/src/commands/system.rs
  src-tauri/src/models/asciicasts.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/models/os.rs
  src-tauri/src/schema.rs
Due: cargo-fmt, cargo-clippy

Add terminal recording to sample call definition
  .pre-commit-config.yaml
  src-svelte/src/lib/sample-call.ts
  src-tauri/api/sample-call-schema.json
  src-tauri/src/sample_call.rs
Due: typecheck-svelte, prettier, cargo-fmt, cargo-clippy

Get terminal output capture tests working on Windows
  src-tauri/src/commands/terminal.rs
Due: cargo-fmt, cargo-clippy

Add test terminal to API test helpers when specified
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/terminal.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/terminal.rs
Due: cargo-fmt, cargo-clippy

Actually add run_command command to main.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/terminal/mod.rs
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/commands/terminal/run.rs
  src-tauri/src/main.rs
  src-tauri/src/models/asciicasts.rs
Due: cargo-fmt, cargo-clippy

Implement preliminary API call for command execution
  src-tauri/api/sample-calls/run_command-date.yaml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/terminal/mod.rs
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/commands/terminal/run.rs
Due: prettier, cargo-fmt, cargo-clippy

Make side effects in tests mutable
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/upgrades.rs
Due: cargo-fmt, cargo-clippy

Implement SQL serialization and deserialization for ASCII casts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/models/asciicasts.rs
Due: cargo-fmt, cargo-clippy

Update Specta bindings
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte, prettier, eslint

Capture terminal output with rexpect instead
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Get non-exiting process capture working on Mac OS
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Simplify output retrieval
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Add non-working code to try to capture interactivity
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Successfully record interactivity
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Don't wait with rexpect at all because we're using our own sleep logic
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Only add new Asciicast entry on non-empty output
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Combine approaches and get capture tests to pass when running all tests
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Replay captured terminal updates
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-calls/run_command-date.yaml
  src-tauri/api/sample-database-writes/command-run-date/dump.sql
  src-tauri/api/sample-database-writes/command-run-date/dump.yaml
  src-tauri/api/sample-terminal-sessions/date.cast
  src-tauri/api/sample-terminal-sessions/pause.cast
  src-tauri/api/sample-terminal-sessions/pause.py
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/test_helpers/terminal.rs
Due: prettier, cargo-fmt, cargo-clippy

Replay interactive sessions as well
  src-tauri/api/sample-terminal-sessions/bash.cast
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/test_helpers/terminal.rs
Due: cargo-fmt, cargo-clippy

Initial attempt at replacing rexpect with Windows-compatible pty
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Use channels to receive non-blocking pty output
  src-tauri/api/sample-terminal-sessions/bash.cast
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/test_helpers/terminal.rs
Due: cargo-fmt, cargo-clippy

Cache and retrieve exit code for processes
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Get terminal recording tests working on Windows
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Get pty tests to pass on Linux
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Add terminal session persistence to ZAMM
  src-tauri/api/sample-calls/run_command-bash.yaml
  src-tauri/api/sample-database-writes/command-run-bash/dump.sql
  src-tauri/api/sample-database-writes/command-run-bash/dump.yaml
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/commands/terminal/run.rs
  src-tauri/src/main.rs
  src-tauri/src/models/llm_calls/entity_id.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/terminal.rs
Due: prettier, cargo-fmt, cargo-clippy

Implement API call to interact with running programs
  src-svelte/src/lib/sample-call.ts
  src-tauri/api/sample-call-schema.json
  src-tauri/api/sample-calls/send_command_input-bash-interleaved.yaml
  src-tauri/api/sample-database-writes/command-run-bash-interleaved/dump.sql
  src-tauri/api/sample-database-writes/command-run-bash-interleaved/dump.yaml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/terminal/mod.rs
  src-tauri/src/commands/terminal/send_input.rs
  src-tauri/src/main.rs
  src-tauri/src/sample_call.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/terminal.rs
Due: typecheck-svelte, prettier, cargo-fmt, cargo-clippy

Check that database update for session actually happens
  src-tauri/src/commands/terminal/send_input.rs
Due: cargo-fmt, cargo-clippy

Add component for interacting with terminal sessions
  src-svelte/src/lib/bindings.ts
  src-svelte/src/lib/controls/SendInputForm.svelte
  src-svelte/src/lib/sample-call-testing.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/storybook.test.ts
  src-svelte/src/routes/terminal/TerminalSession.stories.ts
  src-svelte/src/routes/terminal/TerminalSession.svelte
Due: typecheck-svelte, prettier, eslint

Update screenshots
  src-svelte/screenshots/baseline/screens/terminal/session/in-progress.png
  src-svelte/screenshots/baseline/screens/terminal/session/new.png
Due: none

Test terminal session callbacks
  src-svelte/src/routes/terminal/TerminalSession.test.ts
Due: typecheck-svelte, prettier, eslint

Refactor out API calls table into own component
  src-svelte/src/routes/api-calls/ApiCalls.svelte
  src-svelte/src/routes/api-calls/ApiCallsTable.svelte
Due: typecheck-svelte, prettier, eslint

Refactor out select control
  src-svelte/src/lib/controls/Select.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
Due: typecheck-svelte, prettier, eslint

Add link to new terminal session page
  src-svelte/src/routes/api-calls/ApiCalls.svelte
  src-svelte/src/routes/terminal/new/+page.svelte
Due: typecheck-svelte, prettier, eslint

Update waiting status for command form submission
  src-svelte/src/routes/terminal/TerminalSession.svelte
Due: typecheck-svelte, prettier, eslint

Allow quick fail on CI check
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Fix Database View title text not updating when switching to terminal sessions
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/routes/database/DatabaseView.playwright.test.ts
  src-svelte/src/routes/database/DatabaseView.svelte
  src-svelte/src/routes/database/DatabaseView.test.ts
Due: typecheck-svelte, prettier, eslint

Add e2e interactions with new screens
  webdriver/test/specs/e2e.test.js
Due: prettier, eslint

Update screenshots for terminal sessions
  src-svelte/screenshots/baseline/screens/database/terminal-session/in-progress.png
  src-svelte/screenshots/baseline/screens/database/terminal-session/new.png
  webdriver/screenshots/baseline/desktop_wry/import-api-call.png
  webdriver/screenshots/baseline/desktop_wry/new-terminal-session.png
  webdriver/screenshots/baseline/desktop_wry/running-terminal-session.png
  webdriver/screenshots/baseline/desktop_wry/terminal-sessions.png
Due: none
