Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

typecheck-svelte:
  name: svelte-check
  entry: yarn workspace gui svelte-check --fail-on-warnings
  language: system

prettier:
  name: prettier
  entry: yarn prettier --write --plugin prettier-plugin-svelte
  language: system

eslint:
  name: eslint
  entry: yarn eslint --fix --max-warnings=0
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: python src-tauri/clippy.py
  language: system
  pass_filenames: false

Add queries around retrieving LLM call variant links
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/models/llm_calls/llm_call.rs
  src-tauri/src/models/llm_calls/various.rs
  src-tauri/src/test_helpers/database_contents.rs
Due: cargo-fmt, cargo-clippy

Actually write out variant info to DB when specified
  src-tauri/api/sample-calls/chat-edit-conversation.yaml
  src-tauri/api/sample-calls/chat-re-edit-conversation.yaml
  src-tauri/api/sample-database-writes/conversation-edited-2/dump.sql
  src-tauri/api/sample-database-writes/conversation-edited-2/dump.yaml
  src-tauri/api/sample-database-writes/conversation-edited/dump.sql
  src-tauri/api/sample-database-writes/conversation-edited/dump.yaml
  src-tauri/api/sample-network-requests/edit-conversation.json
  src-tauri/api/sample-network-requests/re-edit-conversation.json
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/models/llm_calls/linkage.rs
  src-tauri/src/models/llm_calls/llm_call.rs
  src-tauri/src/models/llm_calls/mod.rs
  src-tauri/src/test_helpers/database_contents.rs
Due: prettier, cargo-fmt, cargo-clippy

Automatically record database dumps in tests if gold dump directory does not exist
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Update Specta bindings for new variant API
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte, prettier, eslint

Specify canonical ID in call to backend if new API call page has that information
  src-svelte/src/lib/__mocks__/stores.ts
  src-svelte/src/routes/api-calls/new/ApiCallEditor.stories.ts
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.test.ts
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Add button to edit LLM call from individual API call page
  src-svelte/src/lib/controls/Button.svelte
  src-svelte/src/routes/api-calls/[slug]/Actions.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCall.test.ts
  src-svelte/src/routes/api-calls/new/ApiCallEditor.test.ts
  src-svelte/src/routes/api-calls/new/test.data.ts
Due: typecheck-svelte, prettier, eslint

Fix new API call page being handled by slug route handler on the Windows dev app
  src-svelte/svelte.config.js
Due: prettier, eslint

Get sample backend API calls that demonstrate variant data
  src-tauri/api/sample-calls/get_api_call-edit.yaml
  src-tauri/src/commands/llms/get_api_call.rs
Due: prettier, cargo-fmt, cargo-clippy

Display variant metadata on individual LLM call page
  src-svelte/src/lib/ApiCallReference.svelte
  src-svelte/src/lib/ApiCallReferenceLink.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.stories.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/api-calls/[slug]/sample-calls.ts
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Display variant list as rounded tree
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
Due: typecheck-svelte, prettier, eslint

Update API calls test to reflect new links
  src-svelte/src/routes/api-calls/[slug]/ApiCall.test.ts
Due: typecheck-svelte, prettier, eslint

Update screenshots for API call editing
  src-svelte/screenshots/baseline/screens/llm-call/individual/actions/narrow.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/actions/wide.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/narrow.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/variant.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/wide.png
  src-svelte/screenshots/baseline/screens/llm-call/new/edit-continued-conversation-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/new/edit-continued-conversation.png
Due: none

Clarify release notes step in the release process
  RELEASE.md
Due: none

Add files to bump version numbers for in release instructions
  RELEASE.md
Due: none

Bump version to 0.1.5 for next release
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-disk-writes/preferences/version-init/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/version-update/preferences.toml
  src-tauri/tauri.conf.json
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: prettier

Show button as disabled when form submission is in progress
  src-svelte/screenshots/baseline/reusable/button/disabled.png
  src-svelte/screenshots/baseline/screens/llm-call/new/busy-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/new/busy.png
  src-svelte/src/lib/controls/Button.stories.ts
  src-svelte/src/lib/controls/Button.svelte
  src-svelte/src/lib/controls/ButtonView.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.stories.ts
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/chat/Form.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Save old URL when navigating to new sidebar tab
  src-svelte/src/routes/SidebarUI.svelte
  src-svelte/src/routes/SidebarUI.test.ts
Due: typecheck-svelte, prettier, eslint

Import and dump SQL dump contents to YAML when only SQL dump is available
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/database_contents.rs
Due: cargo-fmt, cargo-clippy

Refactor test database dumps to be independent of LLM call display logic
  src-tauri/api/sample-database-writes/conversation-continued/dump.yaml
  src-tauri/api/sample-database-writes/conversation-edited-2/dump.yaml
  src-tauri/api/sample-database-writes/conversation-edited/dump.yaml
  src-tauri/api/sample-database-writes/conversation-forked-step-1/dump.yaml
  src-tauri/api/sample-database-writes/conversation-forked-step-2/dump.yaml
  src-tauri/api/sample-database-writes/conversation-manually-recreated/dump.yaml
  src-tauri/api/sample-database-writes/conversation-started/dump.yaml
  src-tauri/api/sample-database-writes/different-openai-api-key/dump.yaml
  src-tauri/api/sample-database-writes/empty/dump.yaml
  src-tauri/api/sample-database-writes/many-api-calls/dump.yaml
  src-tauri/api/sample-database-writes/many-api-calls/generate.py
  src-tauri/api/sample-database-writes/openai-api-key/dump.yaml
  src-tauri/api/sample-database-writes/sample-v0.1.3-db/dump.yaml
  src-tauri/api/sample-database-writes/sample-v0.1.4-db/dump.yaml
  src-tauri/src/models/llm_calls/linkage.rs
  src-tauri/src/models/llm_calls/llm_call.rs
  src-tauri/src/models/llm_calls/mod.rs
  src-tauri/src/models/llm_calls/row.rs
  src-tauri/src/test_helpers/database_contents.rs
Due: cargo-fmt, cargo-clippy

Refactor out button group component from LLM call actions box
  src-svelte/screenshots/baseline/reusable/button/group/narrow.png
  src-svelte/screenshots/baseline/reusable/button/group/wide.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/actions/narrow.png
  src-svelte/src/lib/controls/ButtonGroup.stories.ts
  src-svelte/src/lib/controls/ButtonGroup.svelte
  src-svelte/src/lib/controls/ButtonGroupView.svelte
  src-svelte/src/routes/api-calls/[slug]/Actions.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Add informational snackbar messages
  src-svelte/screenshots/baseline/layout/snackbar/message/error-variant-1.png
  src-svelte/screenshots/baseline/layout/snackbar/message/error.png
  src-svelte/src/lib/snackbar/Message.stories.ts
  src-svelte/src/lib/snackbar/Message.svelte
  src-svelte/src/lib/snackbar/Snackbar.svelte
  src-svelte/src/routes/storybook.test.ts
  src-svelte/src/routes/styles.css
Due: typecheck-svelte, prettier, eslint

Add reusable warning info box component
  src-svelte/src/lib/Warning.stories.ts
  src-svelte/src/lib/Warning.svelte
  src-svelte/src/lib/WarningView.svelte
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/src/routes/storybook.test.ts
  src-svelte/src/routes/styles.css
  src-svelte/static/logos/streamline.svg
Due: typecheck-svelte, prettier, eslint

Add database import/export buttons to settings page
  src-svelte/package.json
  src-svelte/src/routes/settings/+page.svelte
  src-svelte/src/routes/settings/Database.svelte
  src-svelte/src/routes/settings/Page.svelte
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  yarn.lock
Due: typecheck-svelte, prettier, eslint

Don't let imports override existing data
  src-tauri/api/sample-calls/import_db-conflicting.yaml
  src-tauri/api/sample-disk-writes/db-import-export/conflicting/conflicting-db.yaml
  src-tauri/src/commands/database/import.rs
  src-tauri/src/models/database_contents.rs
Due: prettier, cargo-fmt, cargo-clippy

Add test to populate database with imported data
  src-tauri/api/sample-calls/import_db-initially-empty.yaml
  src-tauri/src/commands/database/import.rs
Due: prettier, cargo-fmt, cargo-clippy

Refactor out database YAML import/export into models module
  src-tauri/src/models/database_contents.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/test_helpers/mod.rs
  src-tauri/src/test_helpers/sqlite.rs
Due: cargo-fmt, cargo-clippy

Add export counts to API return value
  src-tauri/api/sample-calls/export_db-api-key.yaml
  src-tauri/api/sample-calls/export_db-populated.yaml
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/metadata.rs
  src-tauri/src/commands/database/mod.rs
Due: prettier, cargo-fmt, cargo-clippy

Fix conflicting API key import
  src-tauri/api/sample-calls/import_db-api-key.yaml
  src-tauri/api/sample-calls/import_db-conflicting-api-key.yaml
  src-tauri/api/sample-calls/import_db-conflicting-llm-call.yaml
  src-tauri/api/sample-disk-writes/db-import-export/conflicting-llm-call/conflicting-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/different-api-key/different.zamm.yaml
  src-tauri/src/commands/database/import.rs
  src-tauri/src/models/database_contents.rs
Due: prettier, cargo-fmt, cargo-clippy

Add tests for frontend invocation of database import/export API calls
  src-svelte/src/lib/snackbar/Message.svelte
  src-svelte/src/routes/settings/Database.svelte
  src-svelte/src/routes/settings/Database.test.ts
Due: typecheck-svelte, prettier, eslint

Add new backend commands to import or export the database
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/database/mod.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/main.rs
  src-tauri/src/models/api_keys.rs
  src-tauri/src/models/database_contents.rs
  src-tauri/src/models/llm_calls/linkage.rs
  src-tauri/src/models/llm_calls/row.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Add ZAMM version to database export
  RELEASE.md
  src-tauri/api/sample-calls/export_db-api-key.yaml
  src-tauri/api/sample-disk-writes/db-import-export/conflicting-llm-call/conflicting-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/conversation-edited-2/test-folder/exported-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/different-api-key/different.zamm.yaml
  src-tauri/src/commands/database/export.rs
  src-tauri/src/models/database_contents.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: prettier, cargo-fmt, cargo-clippy

Fix the navigation to the LLM calls list page
  webdriver/test/specs/e2e.test.js
Due: prettier, eslint

Add import counts to API return value
  src-tauri/api/sample-calls/import_db-api-key.yaml
  src-tauri/api/sample-calls/import_db-conflicting-api-key.yaml
  src-tauri/api/sample-calls/import_db-conflicting-llm-call.yaml
  src-tauri/api/sample-calls/import_db-initially-empty.yaml
  src-tauri/src/commands/database/import.rs
Due: prettier, cargo-fmt, cargo-clippy

Test and fix export function on nested folder
  .pre-commit-config.yaml
  src-tauri/api/sample-calls/export_db-populated.yaml
  src-tauri/api/sample-disk-writes/db-import-export/conversation-edited-2/test-folder/exported-db.yaml
  src-tauri/src/commands/database/export.rs
  src-tauri/src/models/database_contents.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: prettier, cargo-fmt, cargo-clippy

Update Specta bindings for new API return values
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte, prettier, eslint

Export new bindings from Specta
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte, prettier, eslint

Refactor database dumping and loading actions into their respective command submodules
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/database/mod.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/models/database_contents.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Import and screenshot LLM calls in end-to-end tests
  src-svelte/src/routes/settings/Database.svelte
  webdriver/test/specs/e2e.test.js
Due: typecheck-svelte, prettier, eslint

Update screenshots for database import/export feature
  src-svelte/screenshots/baseline/layout/snackbar/message/info-variant-1.png
  src-svelte/screenshots/baseline/layout/snackbar/message/info.png
  src-svelte/screenshots/baseline/reusable/warning/long.png
  src-svelte/screenshots/baseline/reusable/warning/short.png
  webdriver/screenshots/baseline/desktop_wry/api-call-individual-800x600.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-populated-800x600.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen-800x600.png
Due: none

Get rid of option in test case invocation
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/src/upgrades.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  typecheck-svelte: any of: \.(ts|svelte)$, but not: ^webdriver/
  prettier: any of: \.(json|yaml|html|js|ts|svelte)$, but not: ^src-tauri/api/sample-database-writes/
  eslint: any of: \.(js|ts|svelte)$, but not: src-svelte/src/lib/sample-call.ts
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
