Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

typecheck-svelte:
  name: svelte-check
  entry: yarn workspace gui svelte-check --fail-on-warnings
  language: system

prettier:
  name: prettier
  entry: yarn prettier --write --plugin prettier-plugin-svelte
  language: system

eslint:
  name: eslint
  entry: yarn eslint --fix --max-warnings=0
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: python src-tauri/clippy.py
  language: system
  pass_filenames: false

Change database view spacing
  src-svelte/src/routes/database/DatabaseView.svelte
  src-svelte/src/routes/database/api-calls/ApiCallsTable.svelte
Due: typecheck-svelte, prettier, eslint

Fix CMD interactions on Windows
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.svelte
  src-tauri/api/sample-terminal-sessions/windows.cast
  src-tauri/src/test_helpers/terminal.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Make e2e running terminal screenshot more deterministic
  webdriver/test/specs/e2e.test.js
  webdriver/zamm.bashrc
Due: prettier, eslint

Update screenshots for terminal sessions
  src-svelte/screenshots/baseline/screens/database/list/empty.png
  src-svelte/screenshots/baseline/screens/database/list/full.png
  src-svelte/screenshots/baseline/screens/database/list/small.png
  src-svelte/screenshots/baseline/screens/database/terminal-session/in-progress.png
  src-svelte/screenshots/baseline/screens/database/terminal-session/new.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-populated.png
  webdriver/screenshots/baseline/desktop_wry/api-calls.png
  webdriver/screenshots/baseline/desktop_wry/import-api-call.png
  webdriver/screenshots/baseline/desktop_wry/new-terminal-session.png
  webdriver/screenshots/baseline/desktop_wry/running-terminal-session.png
  webdriver/screenshots/baseline/desktop_wry/terminal-sessions.png
Due: none

Fix infobox title not changing when updated before animation finishes
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/routes/database/DatabaseView.playwright.test.ts
Due: typecheck-svelte, prettier, eslint

Guard against scrollable.getDimensions on CI
  src-svelte/src/lib/Scrollable.svelte
Due: typecheck-svelte, prettier, eslint

Fix navigation to individual API call page
  webdriver/test/specs/e2e.test.js
Due: prettier, eslint

Try to solve flaky Rust tests by hiding all terminal functional behind just a single arc-mutex
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/commands/terminal/run.rs
  src-tauri/src/commands/terminal/send_input.rs
  src-tauri/src/test_helpers/terminal.rs
Due: cargo-fmt, cargo-clippy

Refactor out relative time calculation
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Set a longer terminal read timeout for tests
  src-tauri/src/commands/terminal/models.rs
Due: cargo-fmt, cargo-clippy

Bump version to 0.2.0 for terminal recording capabilities
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-disk-writes/db-import-export/conflicting-llm-call/conflicting-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/conversation-edited-2/test-folder/exported-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/different-api-key/different.zamm.yaml
  src-tauri/api/sample-disk-writes/preferences/version-init/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/version-update/preferences.toml
  src-tauri/tauri.conf.json
Due: prettier

Update Docker container for v0.2.0
  .github/workflows/tests.yaml
  Dockerfile
  Makefile
Due: prettier

Update e2e screenshot for v0.2.0 version bump
  webdriver/screenshots/baseline/desktop_wry/welcome-screen.png
Due: none

Add credits for ollama-rs package
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte, prettier, eslint

Add sound credits
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/static/logos/pixabay.jpeg
  src-svelte/static/logos/soundreality.png
Due: typecheck-svelte, prettier, eslint

Update screenshot for credits page with changed scrollbar
  webdriver/screenshots/baseline/desktop_wry/credits-screen.png
Due: none

Bump version to 0.2.1
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-disk-writes/db-import-export/conflicting-llm-call/conflicting-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/conversation-edited-2/test-folder/exported-db.yaml
  src-tauri/api/sample-disk-writes/db-import-export/different-api-key/different.zamm.yaml
  src-tauri/api/sample-disk-writes/preferences/version-init/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/version-update/preferences.toml
  src-tauri/tauri.conf.json
Due: prettier

Update e2e screenshots that somehow all changed at the same time on CI
  webdriver/screenshots/baseline/desktop_wry/api-call-individual.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-populated.png
  webdriver/screenshots/baseline/desktop_wry/api-calls.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen.png
  webdriver/screenshots/baseline/desktop_wry/import-api-call.png
  webdriver/screenshots/baseline/desktop_wry/new-api-call.png
  webdriver/screenshots/baseline/desktop_wry/new-terminal-session.png
  webdriver/screenshots/baseline/desktop_wry/running-terminal-session.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen.png
  webdriver/screenshots/baseline/desktop_wry/terminal-sessions.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen.png
Due: none

Initial attempt at handling terminal escape codes on Windows
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.stories.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-calls/run_command-cmd.yaml
  src-tauri/api/sample-database-writes/command-run-cmd/dump.sql
  src-tauri/api/sample-database-writes/command-run-cmd/dump.yaml
  src-tauri/src/commands/terminal/run.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Update backend tests to match how \r is being stripped now
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.stories.ts
  src-tauri/api/sample-calls/run_command-bash.yaml
  src-tauri/api/sample-calls/run_command-date.yaml
  src-tauri/src/commands/terminal/run.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Fix sample call matching problem
  src-svelte/src/lib/sample-call-testing.ts
Due: typecheck-svelte, prettier, eslint

Add a test to make sure that sample playback is working properly
  src-svelte/src/lib/sample-call-testing.test.ts
Due: typecheck-svelte, prettier, eslint

Trim command response start on backend
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.svelte
  src-tauri/api/sample-calls/run_command-bash.yaml
  src-tauri/src/commands/terminal/run.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Handle command newline additions on backend
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.svelte
  src-tauri/api/sample-calls/send_command_input-bash-interleaved.yaml
  src-tauri/src/commands/terminal/send_input.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Clean terminal run output before returning back to frontend for display to user
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-calls/run_command-cmd.yaml
  src-tauri/src/commands/terminal/run.rs
Due: prettier, cargo-fmt, cargo-clippy

Refactor out command parsing code into its own file
  src-tauri/src/commands/terminal/mod.rs
  src-tauri/src/commands/terminal/parse.rs
  src-tauri/src/commands/terminal/run.rs
Due: cargo-fmt, cargo-clippy

Refactor terminal escape parsing to not split up string at the start
  src-tauri/src/commands/terminal/parse.rs
Due: cargo-fmt, cargo-clippy

Refactor out terminal output parsing variables into own struct
  src-tauri/src/commands/terminal/parse.rs
Due: cargo-fmt, cargo-clippy

Refactor out escape command handling
  src-tauri/src/commands/terminal/parse.rs
Due: cargo-fmt, cargo-clippy

Rename output parser fields
  src-tauri/src/commands/terminal/parse.rs
Due: cargo-fmt, cargo-clippy

Do simpler check for ASCII alphabet for regular escapes
  src-tauri/src/commands/terminal/parse.rs
Due: cargo-fmt, cargo-clippy

Add API test for Windows cmd session input
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.stories.ts
  src-tauri/api/sample-calls/send_command_input-cmd-dir.yaml
  src-tauri/api/sample-database-writes/command-run-cmd-dir/dump.sql
  src-tauri/api/sample-database-writes/command-run-cmd-dir/dump.yaml
  src-tauri/src/commands/terminal/send_input.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Remove \r from bash send-input API call as well
  src-tauri/api/sample-calls/send_command_input-bash-interleaved.yaml
Due: prettier

Fix Windows cmd output via regex hack
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-calls/send_command_input-cmd-dir.yaml
  src-tauri/src/commands/terminal/parse.rs
Due: prettier, cargo-fmt, cargo-clippy

Refactor out more chunks of parser logic
  src-tauri/src/commands/terminal/parse.rs
Due: cargo-fmt, cargo-clippy

Get backend tests compiling again after upgrade to Tauri v2
  package.json
  src-svelte/package.json
  src-svelte/src/routes/settings/Database.svelte
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-calls/set_api_key-invalid-filename.yaml
  src-tauri/capabilities/migrated.json
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/errors/error.rs
  src-tauri/src/commands/errors/import.rs
  src-tauri/src/commands/errors/mod.rs
  src-tauri/src/commands/errors/rodio.rs
  src-tauri/src/commands/errors/serde.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/main.rs
  src-tauri/src/test_helpers/api_testing.rs
  src-tauri/tauri.conf.json
  yarn.lock
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Regenerate Specta bindings and get eslint to pass
  .pre-commit-config.yaml
  src-svelte/src/lib/bindings.ts
  src-svelte/src/lib/sound.ts
  src-svelte/src/lib/tauri.ts
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/components/Metadata.svelte
  src-svelte/src/routes/components/api-keys/Display.svelte
  src-svelte/src/routes/components/api-keys/Form.svelte
  src-svelte/src/routes/database/api-calls/ApiCallsTable.svelte
  src-svelte/src/routes/database/api-calls/[slug]/ApiCall.svelte
  src-svelte/src/routes/database/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.svelte
  src-svelte/src/routes/settings/Database.svelte
  src-svelte/src/routes/settings/Settings.svelte
Due: typecheck-svelte, prettier, eslint

Get manual testing working on frontend file dialogs
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Get all frontend non-screenshot tests passing
  src-svelte/src/lib/Switch.test.ts
  src-svelte/src/lib/__mocks__/invoke.ts
  src-svelte/src/lib/sample-call-testing.ts
  src-svelte/src/routes/AppLayout.test.ts
  src-svelte/src/routes/SidebarUI.test.ts
  src-svelte/src/routes/chat/Chat.test.ts
  src-svelte/src/routes/components/Metadata.test.ts
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-svelte/src/routes/components/api-keys/Form.svelte
  src-svelte/src/routes/database/api-calls/[slug]/ApiCall.test.ts
  src-svelte/src/routes/database/api-calls/new/ApiCallEditor.test.ts
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.test.ts
  src-svelte/src/routes/settings/Database.test.ts
  src-svelte/src/routes/settings/Settings.test.ts
  src-svelte/src/routes/settings/SettingsSwitch.test.ts
Due: typecheck-svelte, prettier, eslint

Update Docker build image and GitHub workflows
  .github/workflows/publish.yaml
  .github/workflows/tests.yaml
  Dockerfile
  Makefile
Due: prettier

Path conditions:
  typecheck-svelte: any of: \.(ts|svelte)$, but not: ^webdriver/
  prettier: any of: \.(json|yaml|html|js|ts|svelte)$, but not: ^src-tauri/api/sample-database-writes/
  eslint: any of: \.(js|ts|svelte)$, but not: src-svelte/src/lib/sample-call.ts
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
