Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.1.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--disallow-untyped-defs, --ignore-missing-imports]
        additional_dependencies:
          - types-PyYAML
  - repo: local
    hooks:
      - id: typecheck-svelte
        name: svelte-check
        entry: yarn workspace gui svelte-check --fail-on-warnings
        language: system
        types: [file]
        files: \.(ts|svelte)$
        exclude: ^webdriver/
      - id: prettier
        name: prettier
        entry: yarn prettier --write --plugin prettier-plugin-svelte
        language: system
        types: [file]
        files: \.(json|yaml|html|js|ts|svelte)$
        exclude: ^src-tauri/api/sample-database-writes/
      - id: eslint
        name: eslint
        entry: yarn eslint --fix --max-warnings=0
        language: system
        types: [file]
        files: \.(js|ts|svelte)$
        exclude: src-svelte/src/lib/sample-call.ts
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        types: [rust]
      - id: cargo-clippy
        name: cargo clippy
        entry: python src-tauri/clippy.py
        language: system
        types: [rust]
        pass_filenames: false

Get end-to-end tests passing
  package.json
  webdriver/package.json
  webdriver/test/specs/e2e.test.js
  yarn.lock
Due: prettier, eslint

Do consistent formatting across prettier versions
  src-svelte/.prettierrc
  src-svelte/src/lib/sample-call.ts
  webdriver/.prettierrc
  webdriver/test/specs/e2e.test.js
Due: typecheck-svelte, prettier, eslint

Update auto-update process for Tauri v2
  .github/workflows/publish.yaml
  src-svelte/package.json
  src-svelte/src/lib/autoupdate.ts
  src-svelte/src/routes/AppLayout.svelte
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
  src-tauri/src/main.rs
  yarn.lock
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Remove unneeded shell plugin
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/migrated.json
Due: prettier

Try not copying cargo target directory due to failure to build on CI
  Makefile
Due: none

Fix regular CI test environment variables
  .github/workflows/tests.yaml
Due: prettier

Install more dependencies for CI runs
  .github/workflows/tests.yaml
Due: prettier

Update Tauri driver version in test script
  .github/workflows/tests.yaml
Due: prettier

Update screenshots
  src-svelte/screenshots/baseline/screens/database/list/full-variant-1.png
  src-svelte/screenshots/baseline/screens/database/llm-call/new/edit-continued-conversation-variant-1.png
  src-svelte/screenshots/baseline/screens/database/llm-call/new/with-emoji-variant-2.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-populated.png
Due: none

Fix AppLayout test failures from update check
  src-svelte/src/routes/AppLayout.test.ts
Due: typecheck-svelte, prettier, eslint

Rename ApiCall to UnloadedApiCall
  src-svelte/src/routes/database/api-calls/[slug]/+page.svelte
  src-svelte/src/routes/database/api-calls/[slug]/UnloadedApiCall.svelte
  src-svelte/src/routes/database/api-calls/[slug]/UnloadedApiCall.test.ts
Due: typecheck-svelte, prettier, eslint

Rename ApiCallDisplay to ApiCall
  src-svelte/src/routes/database/api-calls/[slug]/ApiCall.stories.ts
  src-svelte/src/routes/database/api-calls/[slug]/ApiCall.svelte
  src-svelte/src/routes/database/api-calls/[slug]/UnloadedApiCall.svelte
Due: typecheck-svelte, prettier, eslint

Separate out unloaded stories from loaded ones
  src-svelte/src/routes/database/api-calls/[slug]/ApiCall.stories.ts
  src-svelte/src/routes/database/api-calls/[slug]/Prompt.stories.ts
  src-svelte/src/routes/database/api-calls/[slug]/UnloadedApiCall.stories.ts
  src-svelte/src/routes/database/api-calls/[slug]/sample-calls.ts
  src-svelte/src/routes/database/api-calls/new/ApiCallEditor.stories.ts
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Hide actions for Storybook API call display stories
  src-svelte/src/routes/database/api-calls/[slug]/ApiCall.stories.ts
  src-svelte/src/routes/database/api-calls/[slug]/ApiCall.svelte
  src-svelte/src/routes/database/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/database/api-calls/[slug]/UnloadedApiCall.stories.ts
  src-svelte/src/routes/database/api-calls/[slug]/UnloadedApiCall.svelte
Due: typecheck-svelte, prettier, eslint

Fix DatabaseView playwright test after CSS classes changed
  src-svelte/src/routes/database/DatabaseView.playwright.test.ts
Due: typecheck-svelte, prettier, eslint

Rename updateIndicator in onMount to avoid name clash
  src-svelte/src/routes/SidebarUI.svelte
Due: typecheck-svelte, prettier, eslint

Refactor and reuse API calls table for terminal sessions
  src-svelte/src/lib/Table.svelte
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/database/DatabaseView.stories.ts
  src-svelte/src/routes/database/DatabaseView.svelte
  src-svelte/src/routes/database/DatabaseView.test.ts
  src-svelte/src/routes/database/api-calls/ApiCallBlurb.svelte
  src-svelte/src/routes/database/api-calls/ApiCallsTable.svelte
  src-svelte/src/routes/database/terminal-sessions/TerminalSessionBlurb.svelte
  src-svelte/src/routes/database/terminal-sessions/TerminalSessionsTable.svelte
  webdriver/test/specs/e2e.test.js
Due: typecheck-svelte, prettier, eslint

Use project's custom loading component
  src-svelte/src/routes/database/terminal-sessions/UnloadedTerminalSession.svelte
Due: typecheck-svelte, prettier, eslint

Add command to list terminal sessions
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/terminal/get_sessions.rs
  src-tauri/src/commands/terminal/mod.rs
  src-tauri/src/main.rs
  src-tauri/src/models/mod.rs
Due: cargo-fmt, cargo-clippy

Make header blurb width bigger to reduce flicker
  src-svelte/src/lib/Table.svelte
Due: typecheck-svelte, prettier, eslint

Pass through props to base table component
  src-svelte/src/routes/database/api-calls/ApiCallsTable.svelte
  src-svelte/src/routes/database/terminal-sessions/TerminalSessionsTable.svelte
Due: typecheck-svelte, prettier, eslint

Show active status for retrieved terminal session
  src-tauri/api/sample-calls/get_terminal_session-bash-interleaved.yaml
  src-tauri/api/sample-calls/get_terminal_session-bash.yaml
  src-tauri/src/commands/terminal/get_session.rs
  src-tauri/src/commands/terminal/send_input.rs
  src-tauri/src/models/llm_calls/entity_id.rs
  src-tauri/src/test_helpers/api_testing.rs
Due: prettier, cargo-fmt, cargo-clippy

Render actual recovered terminal session page
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.svelte
  src-svelte/src/routes/database/terminal-sessions/[slug]/+page.svelte
Due: typecheck-svelte, prettier, eslint

Add tests for terminal session list API
  src-tauri/api/sample-calls/get_terminal_sessions-empty.yaml
  src-tauri/api/sample-calls/get_terminal_sessions-small.yaml
  src-tauri/src/commands/terminal/get_sessions.rs
Due: prettier, cargo-fmt, cargo-clippy

Refactor TerminalSession component to take in a RecoveredTerminalSession
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.svelte
  src-svelte/src/routes/database/terminal-sessions/UnloadedTerminalSession.svelte
  src-tauri/api/sample-calls/run_command-bash.yaml
  src-tauri/api/sample-calls/run_command-cmd.yaml
  src-tauri/api/sample-calls/run_command-date.yaml
  src-tauri/src/commands/terminal/get_session.rs
  src-tauri/src/commands/terminal/run.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Update frontend to handle inactive terminal sessions
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.svelte
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.test.ts
  src-svelte/src/routes/database/terminal-sessions/UnloadedTerminalSession.stories.ts
  src-svelte/src/routes/database/terminal-sessions/UnloadedTerminalSession.svelte
  src-svelte/src/routes/database/terminal-sessions/UnloadedTerminalSession.test.ts
  src-svelte/src/routes/database/terminal-sessions/[slug]/+page.svelte
  src-svelte/src/routes/storybook.test.ts
  src-tauri/api/sample-calls/get_terminal_session-bash-interleaved.yaml
  src-tauri/src/commands/terminal/get_session.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Add API call to retrieve past terminal sessions
  src-tauri/api/sample-calls/get_terminal_session-bash-interleaved.yaml
  src-tauri/api/sample-calls/get_terminal_session-bash.yaml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/terminal/get_session.rs
  src-tauri/src/commands/terminal/mod.rs
  src-tauri/src/main.rs
Due: prettier, cargo-fmt, cargo-clippy

Avoid losing terminal session when navigating back to database tab
  src-svelte/src/routes/PageTransition.svelte
  src-svelte/src/routes/SidebarUI.svelte
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.svelte
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.test.ts
Due: typecheck-svelte, prettier, eslint

Rename RecoveredTerminalSession to TerminalSessionInfo
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/database/terminal-sessions/TerminalSession.svelte
  src-svelte/src/routes/database/terminal-sessions/UnloadedTerminalSession.svelte
  src-tauri/src/commands/terminal/get_session.rs
  src-tauri/src/commands/terminal/models.rs
  src-tauri/src/commands/terminal/run.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Mark individual terminal session pages as prerenderable
  src-svelte/svelte.config.js
Due: prettier, eslint

Update selectors for e2e tests
  webdriver/test/specs/e2e.test.js
Due: prettier, eslint

Fix FixedScrollable failure in CI test
  src-svelte/src/lib/FixedScrollable.svelte
Due: typecheck-svelte, prettier, eslint

Get to terminal page by pressing plus button
  webdriver/test/specs/e2e.test.js
Due: prettier, eslint

Update screenshots
  src-svelte/screenshots/baseline/screens/database/terminal-session/finished.png
  src-svelte/screenshots/baseline/screens/database/terminal-session/in-progress.png
  webdriver/screenshots/baseline/desktop_wry/running-terminal-session.png
  webdriver/screenshots/baseline/desktop_wry/terminal-sessions.png
Due: none

Remove dead code tags
  src-tauri/src/models/asciicasts.rs
Due: cargo-fmt, cargo-clippy

Export AsciiCast as single string when part of greater JSON object
  src-tauri/api/sample-database-writes/command-run-bash-interleaved/dump.yaml
  src-tauri/api/sample-database-writes/command-run-bash/dump.yaml
  src-tauri/api/sample-database-writes/command-run-cmd-dir/dump.yaml
  src-tauri/api/sample-database-writes/command-run-cmd/dump.yaml
  src-tauri/api/sample-database-writes/command-run-date/dump.yaml
  src-tauri/src/models/asciicasts.rs
Due: cargo-fmt, cargo-clippy

Add support for importing exported terminal sessions
  RELEASE.md
  src-tauri/api/sample-calls/export_db-api-key.yaml
  src-tauri/api/sample-calls/export_db-conversations.yaml
  src-tauri/api/sample-calls/export_db-terminal-sessions.yaml
  src-tauri/api/sample-calls/import_db-api-key.yaml
  src-tauri/api/sample-calls/import_db-conflicting-api-key.yaml
  src-tauri/api/sample-calls/import_db-conflicting-llm-call.yaml
  src-tauri/api/sample-calls/import_db-initially-empty.yaml
  src-tauri/api/sample-calls/import_db-terminal-sessions.yaml
  src-tauri/api/sample-calls/import_db-unknown-provider.yaml
  src-tauri/api/sample-disk-writes/db-import-export/terminal-sessions/exported-db.yaml
  src-tauri/src/commands/database/export.rs
  src-tauri/src/commands/database/import.rs
  src-tauri/src/commands/database/metadata.rs
Due: prettier, cargo-fmt, cargo-clippy

Adapt frontend to new import command output
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/settings/Database.svelte
  src-svelte/src/routes/settings/Database.test.ts
  src-tauri/src/commands/database/import.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Implement FromStr for AsciiCastData
  src-tauri/src/models/asciicasts.rs
Due: cargo-fmt, cargo-clippy

Use serde_with to implement Serde serialization/deserialization for AsciiCastData
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/models/asciicasts.rs
Due: cargo-fmt, cargo-clippy
