Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.1.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--disallow-untyped-defs, --ignore-missing-imports]
        additional_dependencies:
          - types-PyYAML
  - repo: local
    hooks:
      - id: typecheck-svelte
        name: svelte-check
        entry: yarn workspace gui svelte-check --fail-on-warnings
        language: system
        types: [file]
        files: \.(ts|svelte)$
        exclude: ^webdriver/
      - id: prettier
        name: prettier
        entry: yarn prettier --write --plugin prettier-plugin-svelte
        language: system
        types: [file]
        files: \.(json|yaml|html|js|ts|svelte)$
        exclude: ^src-tauri/api/sample-database-writes/
      - id: eslint
        name: eslint
        entry: yarn eslint --fix --max-warnings=0
        language: system
        types: [file]
        files: \.(js|ts|svelte)$
        exclude: src-svelte/src/lib/sample-call.ts
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        types: [rust]
      - id: cargo-clippy
        name: cargo clippy
        entry: python src-tauri/clippy.py
        language: system
        types: [rust]
        pass_filenames: false

Make seemingly unrelated credits screen update
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
Due: none

Dynamically resize columns based on all rows
  src-svelte/src/routes/api-calls/ApiCalls.svelte
Due: typecheck-svelte, prettier, eslint

Force all rows to be the same height
  src-svelte/src/routes/api-calls/ApiCalls.svelte
Due: typecheck-svelte, prettier, eslint

Restore different minimum width for time column
  src-svelte/src/routes/api-calls/ApiCalls.svelte
Due: typecheck-svelte, prettier, eslint

Update screenshots for column resizing
  src-svelte/screenshots/baseline/screens/llm-call/list/empty.png
  src-svelte/screenshots/baseline/screens/llm-call/list/full.png
  src-svelte/screenshots/baseline/screens/llm-call/list/small.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-800x600.png
Due: none

Refactor Chat component to persist conversations via Svelte stores
  src-svelte/src/routes/chat/+page.svelte
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
  src-svelte/src/routes/chat/PersistentChat.svelte
  src-svelte/src/routes/chat/PersistentChat.test.ts
  src-svelte/src/routes/chat/PersistentChatView.svelte
Due: typecheck-svelte, prettier, eslint

Add ability to restore conversations from past API calls
  src-svelte/src/lib/controls/Button.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCall.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCall.test.ts
  src-svelte/src/vitest-mocks/navigation.ts
  src-svelte/src/vitest-mocks/stores.ts
Due: typecheck-svelte, prettier, eslint

Fix API calls column resize bug during page transitions
  src-svelte/src/routes/api-calls/ApiCalls.svelte
Due: typecheck-svelte, prettier, eslint

Add test for chat conversation store updates, and fix test that wasn't properly testing before
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
Due: typecheck-svelte, prettier, eslint

Decrease InfoBox gap on credits page to match gap on API calls page
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte, prettier, eslint

Refactor ApiCall page into separate components
  src-svelte/src/routes/api-calls/[slug]/Actions.stories.ts
  src-svelte/src/routes/api-calls/[slug]/Actions.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCall.stories.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCall.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCall.test.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.stories.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/storybook.test.ts
  src-tauri/api/sample-calls/get_api_call-khmer.yaml
Due: typecheck-svelte, prettier, eslint

Update screenshots for credits page gap and LLM API call page actions
  src-svelte/screenshots/baseline/screens/llm-call/individual/actions/narrow.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/actions/wide.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
Due: none

Set conversation store for Chat stories
  src-svelte/src/lib/__mocks__/stores.ts
  src-svelte/src/routes/chat/Chat.stories.ts
Due: typecheck-svelte, prettier, eslint

Add syntax highlighting for more languages in Markdown code blocks
  src-svelte/src/routes/chat/CodeRender.svelte
Due: typecheck-svelte, prettier, eslint

Add smoother fade-ins for API call reveal
  src-svelte/src/lib/SubInfoBox.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
Due: typecheck-svelte, prettier, eslint

Fix up chat transition stories
  src-svelte/src/lib/__mocks__/MockAppLayout.svelte
  src-svelte/src/lib/__mocks__/MockFullPageLayout.svelte
  src-svelte/src/lib/__mocks__/MockPageTransitions.svelte
  src-svelte/src/routes/AnimationControl.svelte
  src-svelte/src/routes/chat/Chat.reveal.stories.ts
  src-svelte/src/routes/chat/Chat.stories.ts
Due: typecheck-svelte, prettier, eslint

Export sample conversations in a non-story manner
  src-svelte/src/routes/chat/Chat.mock-data.ts
  src-svelte/src/routes/chat/Chat.reveal.stories.ts
  src-svelte/src/routes/chat/Chat.stories.ts
Due: typecheck-svelte, prettier, eslint

Don't let mock page transition code interfere with other components
  src-svelte/src/lib/__mocks__/MockPageTransitions.svelte
Due: typecheck-svelte, prettier, eslint

Fix InfoBox reveal for populated chat conversations
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte, prettier, eslint

Fix animation control tests
  src-svelte/src/routes/AnimationControl.test.ts
Due: typecheck-svelte, prettier, eslint

Bump version number for next release to 0.1.3
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: prettier

Update release instructions to include Cargo.lock
  RELEASE.md
Due: none

Update all other screenshots that have somehow since changed
  webdriver/screenshots/baseline/desktop_wry/api-calls-800x600.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen-800x600.png
Due: none

Initial implementation of matrix background with text from DDJ
  src-svelte/src/routes/BackgroundUI.svelte
Due: typecheck-svelte, prettier, eslint

Display matrix background in Storybook
  src-svelte/src/lib/__mocks__/MockFullPageLayout.svelte
Due: typecheck-svelte, prettier, eslint

Lower infobox opacity to make background effect more visible
  src-svelte/src/lib/InfoBox.svelte
Due: typecheck-svelte, prettier, eslint

Add background blur effect to info boxes
  src-svelte/src/lib/InfoBox.svelte
Due: typecheck-svelte, prettier, eslint

Apply fade-in to entire InfoBox story
  src-svelte/src/lib/InfoBoxView.svelte
Due: typecheck-svelte, prettier, eslint

Avoid having the background canvas overwrite the rounded corners of the main element
  src-svelte/src/routes/BackgroundUI.svelte
Due: typecheck-svelte, prettier, eslint

Fix blurred clip path background on Windows
  src-svelte/src/routes/AppLayout.svelte
Due: typecheck-svelte, prettier, eslint

Fix errant scrollable height calculation
  src-svelte/src/lib/Scrollable.svelte
Due: typecheck-svelte, prettier, eslint

Reintroduce support for background animation toggle
  src-svelte/package.json
  src-svelte/src/lib/__mocks__/MockFullPageLayout.svelte
  src-svelte/src/routes/BackgroundUI.svelte
  yarn.lock
Due: typecheck-svelte, prettier, eslint

Respect animation speed in background
  src-svelte/src/routes/BackgroundUI.svelte
Due: typecheck-svelte, prettier, eslint

Add non-persistent transparency toggle
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/lib/preferences.ts
  src-svelte/src/routes/settings/Settings.svelte
Due: typecheck-svelte, prettier, eslint

Make it possible for null Settings JSON fields to be omitted entirely
  src-svelte/src/lib/bindings.ts
  src-svelte/src/lib/preferences.ts
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/settings/Settings.svelte
  src-tauri/api/sample-calls/get_preferences-animation-speed-override.yaml
  src-tauri/api/sample-calls/get_preferences-animations-override.yaml
  src-tauri/api/sample-calls/get_preferences-extra-settings.yaml
  src-tauri/api/sample-calls/get_preferences-no-file.yaml
  src-tauri/api/sample-calls/get_preferences-sound-override.yaml
  src-tauri/api/sample-calls/get_preferences-volume-override.yaml
  src-tauri/api/sample-calls/set_preferences-sound-off.yaml
  src-tauri/api/sample-calls/set_preferences-sound-on.yaml
  src-tauri/api/sample-calls/set_preferences-volume-partial.yaml
  src-tauri/src/commands/preferences/models.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Persist transparency preference
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/AppLayout.test.ts
  src-svelte/src/routes/settings/Settings.svelte
  src-svelte/src/routes/settings/Settings.test.ts
  src-tauri/api/sample-calls/get_preferences-transparency-off.yaml
  src-tauri/api/sample-calls/get_preferences-transparency-on.yaml
  src-tauri/api/sample-calls/set_preferences-transparency-off.yaml
  src-tauri/api/sample-calls/set_preferences-transparency-on.yaml
  src-tauri/api/sample-disk-writes/preferences/transparency-off/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/transparency-on/preferences.toml
  src-tauri/src/commands/preferences/models.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Make FS test failures more obvious
  src-tauri/src/test_helpers/api_testing.rs
Due: cargo-fmt, cargo-clippy

Default transparency to on for Windows
  src-tauri/api/sample-calls/get_preferences-no-file-windows.yaml
  src-tauri/src/commands/preferences/models.rs
  src-tauri/src/commands/preferences/read.rs
Due: prettier, cargo-fmt, cargo-clippy

Fix mutability lint on Linux
  src-tauri/src/commands/preferences/read.rs
Due: cargo-fmt, cargo-clippy

Apply background animation to fewer storybook stories
  src-svelte/src/lib/__mocks__/MockFullPageLayout.svelte
  src-svelte/src/lib/__mocks__/MockPageTransitions.svelte
Due: typecheck-svelte, prettier, eslint
