Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

typecheck-svelte:
  name: svelte-check
  entry: yarn workspace gui svelte-check --fail-on-warnings
  language: system

prettier:
  name: prettier
  entry: yarn prettier --write --plugin prettier-plugin-svelte
  language: system

eslint:
  name: eslint
  entry: yarn eslint --fix --max-warnings=0
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: python src-tauri/clippy.py
  language: system
  pass_filenames: false

Modify backend to support linking previous/next API calls in a conversation
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/api/sample-calls/chat-start-conversation.yaml
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/models/llm_calls/linkage.rs
  src-tauri/src/models/llm_calls/llm_call.rs
  src-tauri/src/models/llm_calls/mod.rs
  src-tauri/src/models/llm_calls/various.rs
  src-tauri/src/test_helpers/database_contents.rs
Due: prettier, cargo-fmt, cargo-clippy

Try adding custom named continuation view
  src-tauri/migrations/2024-05-13-135101_add_api_call_continuations/down.sql
  src-tauri/migrations/2024-05-13-135101_add_api_call_continuations/up.sql
  src-tauri/src/main.rs
  src-tauri/src/views.rs
Due: cargo-fmt, cargo-clippy

Have API response include snippet in linked LLM call
  src-tauri/api/sample-calls/get_api_call-continue-conversation.yaml
  src-tauri/api/sample-calls/get_api_call-start-conversation.yaml
  src-tauri/api/sample-database-writes/conversation-continued/dump.yaml
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/models/llm_calls/llm_call.rs
  src-tauri/src/models/llm_calls/mod.rs
  src-tauri/src/models/llm_calls/various.rs
  src-tauri/src/test_helpers/database_contents.rs
Due: prettier, cargo-fmt, cargo-clippy

Update bindings
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte, prettier, eslint

Edit frontend to send new information about previous message ID to backend
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/api-calls/[slug]/Actions.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCall.test.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
Due: typecheck-svelte, prettier, eslint

Restore original purpose of "won't send multiple messages at once" test
  src-svelte/src/routes/chat/Chat.test.ts
Due: typecheck-svelte, prettier, eslint

Have snackbar handle Error objects as well
  src-svelte/src/lib/snackbar/Snackbar.svelte
Due: typecheck-svelte, prettier, eslint

Preserve user input when chat message not sent
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
  src-svelte/src/routes/chat/Form.svelte
Due: typecheck-svelte, prettier, eslint

Rename "continuation" to "follow-up" for clarity
  src-tauri/api/sample-database-writes/conversation-continued/dump.sql
  src-tauri/migrations/2024-05-13-135101_add_api_call_continuations/down.sql
  src-tauri/migrations/2024-05-13-135101_add_api_call_continuations/up.sql
  src-tauri/migrations/2024-05-13-135101_add_api_call_follow_ups/down.sql
  src-tauri/migrations/2024-05-13-135101_add_api_call_follow_ups/up.sql
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/main.rs
  src-tauri/src/models/llm_calls/linkage.rs
  src-tauri/src/models/llm_calls/llm_call.rs
  src-tauri/src/models/llm_calls/mod.rs
  src-tauri/src/schema.rs
  src-tauri/src/test_helpers/database_contents.rs
  src-tauri/src/views.rs
Due: cargo-fmt, cargo-clippy

Try workaround for removing add-on panel
  src-svelte/src/routes/api-calls/ApiCalls.playwright.test.ts
Due: typecheck-svelte, prettier, eslint

Add a preference-based mechanism to detect app version upgrades
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-calls/upgrade-first-init.yaml
  src-tauri/api/sample-calls/upgrade-from-future-version.yaml
  src-tauri/api/sample-calls/upgrade-from-v0.1.3.yaml
  src-tauri/api/sample-disk-writes/preferences/future-version/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/v0.1.3/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/version-init/preferences.toml
  src-tauri/api/sample-disk-writes/preferences/version-update/preferences.toml
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/preferences/mod.rs
  src-tauri/src/commands/preferences/models.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/main.rs
  src-tauri/src/upgrades.rs
Due: prettier, cargo-fmt, cargo-clippy

Add Rust migration logic for upgrade to v0.1.4
  src-tauri/api/sample-calls/upgrade-first-init.yaml
  src-tauri/api/sample-calls/upgrade-from-future-version.yaml
  src-tauri/api/sample-calls/upgrade-from-v0.1.3.yaml
  src-tauri/api/sample-calls/upgrade-to-v0.1.4.yaml
  src-tauri/api/sample-database-writes/sample-v0.1.3-db/dump.sql
  src-tauri/api/sample-database-writes/sample-v0.1.3-db/dump.yaml
  src-tauri/api/sample-database-writes/sample-v0.1.4-db/dump.sql
  src-tauri/api/sample-database-writes/sample-v0.1.4-db/dump.yaml
  src-tauri/src/main.rs
  src-tauri/src/upgrades.rs
Due: prettier, cargo-fmt, cargo-clippy

Display number of links added when migration run
  src-tauri/src/upgrades.rs
Due: cargo-fmt, cargo-clippy

Add demonstrations of forked conversations
  src-tauri/api/sample-calls/chat-fork-conversation-python.yaml
  src-tauri/api/sample-calls/chat-fork-conversation-rust.yaml
  src-tauri/api/sample-database-writes/conversation-forked-step-1/dump.sql
  src-tauri/api/sample-database-writes/conversation-forked-step-1/dump.yaml
  src-tauri/api/sample-database-writes/conversation-forked-step-2/dump.sql
  src-tauri/api/sample-database-writes/conversation-forked-step-2/dump.yaml
  src-tauri/api/sample-network-requests/fork-conversation-python.json
  src-tauri/api/sample-network-requests/fork-conversation-rust.json
  src-tauri/src/commands/llms/chat.rs
Due: prettier, cargo-fmt, cargo-clippy

Return API calls without conversation links, and with both types of conversation links
  src-tauri/api/sample-calls/get_api_call-continue-conversation.yaml
  src-tauri/api/sample-calls/get_api_call-no-links.yaml
  src-tauri/src/commands/llms/get_api_call.rs
Due: prettier, cargo-fmt, cargo-clippy

Display previous and next conversation links
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.stories.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
Due: typecheck-svelte, prettier, eslint

Fix word wrapping in API call page
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
Due: typecheck-svelte, prettier, eslint

Add "Lots of Code" story to screenshot tests
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Revert to single column links for smaller screens
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
Due: typecheck-svelte, prettier, eslint

Manually resize Storybook window to be narrow before screenshot test
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.stories.ts
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Extend snippet div length if it fits within one single line
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
Due: typecheck-svelte, prettier, eslint

Rename resize-window config variable
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Up words per snippet to 20
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.stories.ts
  src-tauri/api/sample-calls/get_api_call-continue-conversation.yaml
  src-tauri/api/sample-calls/get_api_call-start-conversation.yaml
  src-tauri/api/sample-database-writes/conversation-continued/dump.yaml
  src-tauri/api/sample-database-writes/conversation-forked-step-1/dump.yaml
  src-tauri/api/sample-database-writes/conversation-forked-step-2/dump.yaml
  src-tauri/api/sample-database-writes/sample-v0.1.4-db/dump.yaml
  src-tauri/src/models/llm_calls/various.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Avoid justifying text for table cells in narrow viewports
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
Due: typecheck-svelte, prettier, eslint

Add credits for MingCute icon library
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/static/logos/mingcute.svg
Due: typecheck-svelte, prettier, eslint

Update Storybook screenshots
  src-svelte/screenshots/baseline/screens/llm-call/individual/lots-of-code.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/narrow.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/wide.png
Due: none

Update e2e screenshots, which have somehow lost inset shadows even on main
  webdriver/screenshots/baseline/desktop_wry/api-calls-800x600.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: none

Make API call link retrieval more deterministic
  src-tauri/migrations/2024-05-29-071520_ordered_names/down.sql
  src-tauri/migrations/2024-05-29-071520_ordered_names/up.sql
Due: none

Refactor out prompt display to make it optionally editable
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.stories.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/api-calls/[slug]/Prompt.stories.ts
  src-svelte/src/routes/api-calls/[slug]/Prompt.svelte
  src-svelte/src/routes/api-calls/[slug]/sample-calls.ts
  src-svelte/src/routes/styles.css
Due: typecheck-svelte, prettier, eslint

Add placeholder for empty messages
  src-svelte/src/routes/api-calls/[slug]/Prompt.svelte
Due: typecheck-svelte, prettier, eslint

Add page for submitting new API call
  src-svelte/src/routes/api-calls/[slug]/Prompt.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.stories.ts
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
Due: typecheck-svelte, prettier, eslint

Test that the new API call page looks and works right
  src-svelte/src/routes/api-calls/[slug]/Prompt.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
  src-svelte/src/routes/api-calls/new/ApiCallEditor.test.ts
  src-svelte/src/routes/storybook.test.ts
  src-tauri/api/sample-calls/chat-manual-conversation-recreation.yaml
  src-tauri/api/sample-database-writes/conversation-manually-recreated/dump.sql
  src-tauri/api/sample-database-writes/conversation-manually-recreated/dump.yaml
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/main.rs
Due: typecheck-svelte, prettier, eslint, cargo-fmt, cargo-clippy

Add and link to new page for creating custom API calls
  src-svelte/src/lib/EmptyPlaceholder.svelte
  src-svelte/src/routes/api-calls/ApiCalls.full-page.stories.ts
  src-svelte/src/routes/api-calls/ApiCalls.svelte
  src-svelte/src/routes/api-calls/new/+page.svelte
Due: typecheck-svelte, prettier, eslint

Add e2e screenshot test for new API page
  webdriver/test/specs/e2e.test.js
Due: prettier, eslint

Add title for new API call button on mouseover
  src-svelte/src/routes/api-calls/ApiCalls.svelte
Due: typecheck-svelte, prettier, eslint

Set max size on new API call submit button
  src-svelte/src/routes/api-calls/new/ApiCallEditor.svelte
Due: typecheck-svelte, prettier, eslint

Edit new API call screenshot to include shadows
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte, prettier, eslint

Update screenshots for new API call page
  src-svelte/screenshots/baseline/screens/llm-call/list/empty.png
  src-svelte/screenshots/baseline/screens/llm-call/list/full-variant-1.png
  src-svelte/screenshots/baseline/screens/llm-call/list/full.png
  src-svelte/screenshots/baseline/screens/llm-call/new/blank.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-800x600.png
  webdriver/screenshots/baseline/desktop_wry/new-api-call-800x600.png
Due: none

Preserve no word wrap in chat code blocks
  src-svelte/src/routes/api-calls/[slug]/ApiCallDisplay.svelte
  src-svelte/src/routes/api-calls/[slug]/Prompt.svelte
  src-svelte/src/routes/styles.css
Due: typecheck-svelte, prettier, eslint

Add table to track variant links between API calls
  src-tauri/migrations/2024-05-29-183428_variant_links/down.sql
  src-tauri/migrations/2024-05-29-183428_variant_links/up.sql
  src-tauri/src/schema.rs
  src-tauri/src/views.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  typecheck-svelte: any of: \.(ts|svelte)$, but not: ^webdriver/
  prettier: any of: \.(json|yaml|html|js|ts|svelte)$, but not: ^src-tauri/api/sample-database-writes/
  eslint: any of: \.(js|ts|svelte)$, but not: src-svelte/src/lib/sample-call.ts
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
