Repository zamm-dev/zamm: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, cargo-fmt, cargo-clippy

typecheck-svelte:
  name: svelte-check
  entry: yarn workspace gui svelte-check --fail-on-warnings
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: src-tauri/clippy.sh
  language: system
  pass_filenames: false

Move test-specific hack from component into Storybook test
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Remove conversationWidthPx from Message prop
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte

Fix slider test on CI
  src-svelte/src/lib/Slider.playwright.test.ts
  src-svelte/src/lib/Switch.playwright.test.ts
Due: typecheck-svelte

Remove opposing margins from first and last chat messages
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/extra-long-input.png
  src-svelte/screenshots/baseline/screens/chat/conversation/full-message-width.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/new-message-sent.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/typing-indicator-static.png
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Refactor credits page to use new Scrollable element
  src-svelte/src/lib/FixedScrollable.stories.ts
  src-svelte/src/lib/FixedScrollable.svelte
  src-svelte/src/lib/Scrollable.svelte
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte

Hide shadows and scrollbars during credits info box reveal
  src-svelte/src/lib/FixedScrollable.svelte
  src-svelte/src/lib/InfoBox.svelte
Due: typecheck-svelte

Add additional delay to the credits scroll
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte

Do end-to-end test of credits page
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
  webdriver/test/specs/e2e.test.js
Due: none

Add API endpoint to return stored API call
  src-svelte/src/lib/bindings.ts
  src-tauri/api/sample-calls/get_api_call-continue-conversation.yaml
  src-tauri/api/sample-calls/get_api_call-start-conversation.yaml
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/llms/get_api_call.rs
  src-tauri/src/commands/llms/mod.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Set up component for displaying API call details
  src-svelte/src/lib/snackbar/Snackbar.svelte
  src-svelte/src/routes/api-calls/[slug]/+page.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCall.stories.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCall.svelte
  src-svelte/src/routes/chat/MessageUI.svelte
  src-svelte/src/routes/storybook.test.ts
  src-svelte/src/routes/styles.css
Due: typecheck-svelte

Add API call for getting all LLM API calls
  src-tauri/api/sample-calls/get_api_calls-empty.yaml
  src-tauri/api/sample-calls/get_api_calls-full.yaml
  src-tauri/api/sample-calls/get_api_calls-offset-empty.yaml
  src-tauri/api/sample-calls/get_api_calls-offset.yaml
  src-tauri/api/sample-calls/get_api_calls-small.yaml
  src-tauri/api/sample-database-writes/many-api-calls/dump.sql
  src-tauri/api/sample-database-writes/many-api-calls/dump.yaml
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/commands/llms/mod.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
Due: cargo-fmt, cargo-clippy

Rename copied test helper function
  src-tauri/src/commands/llms/get_api_call.rs
Due: cargo-fmt, cargo-clippy

Fix clippy output checking script to allow for a lack of async-openai warnings
  src-tauri/clippy.py
Due: none

Update Specta bindings
  src-svelte/src/lib/bindings.ts
  src-tauri/src/commands/llms/get_api_calls.rs
  src-tauri/src/main.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Refactor out hover color into main stylesheet
  src-svelte/src/routes/settings/SettingsSlider.svelte
  src-svelte/src/routes/settings/SettingsSwitch.svelte
  src-svelte/src/routes/styles.css
Due: typecheck-svelte

Refactor out empty placeholder component from Chat component
  src-svelte/src/lib/EmptyPlaceholder.svelte
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte

Add initial API calls list component
  src-svelte/src/lib/FixedScrollable.svelte
  src-svelte/src/lib/Scrollable.svelte
  src-svelte/src/routes/api-calls/+page.svelte
  src-svelte/src/routes/api-calls/ApiCalls.stories.ts
  src-svelte/src/routes/api-calls/ApiCalls.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Add script to generate API list test files
  src-tauri/api/sample-database-writes/many-api-calls/generate.py
Due: none

Increase API call page size to 50
  src-tauri/api/sample-calls/get_api_calls-full.yaml
  src-tauri/api/sample-calls/get_api_calls-offset-empty.yaml
  src-tauri/api/sample-calls/get_api_calls-offset.yaml
  src-tauri/api/sample-database-writes/many-api-calls/dump.sql
  src-tauri/api/sample-database-writes/many-api-calls/dump.yaml
  src-tauri/api/sample-database-writes/many-api-calls/generate.py
  src-tauri/src/commands/llms/get_api_calls.rs
Due: cargo-fmt, cargo-clippy

Get API calls list display working
  src-svelte/src/routes/api-calls/ApiCalls.stories.ts
  src-svelte/src/routes/api-calls/ApiCalls.svelte
Due: typecheck-svelte

Make time differences visible on Storybook page
  src-tauri/api/sample-calls/get_api_calls-full.yaml
  src-tauri/api/sample-calls/get_api_calls-offset.yaml
  src-tauri/api/sample-database-writes/many-api-calls/dump.sql
  src-tauri/api/sample-database-writes/many-api-calls/dump.yaml
  src-tauri/api/sample-database-writes/many-api-calls/generate.py
Due: none

Document generate script usage in Makefile
  src-tauri/Makefile
Due: none

Automatically test infinite scroll for API calls
  src-svelte/src/routes/api-calls/ApiCalls.playwright.test.ts
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Add API Calls list page to app
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/routes/PageTransition.svelte
  src-svelte/src/routes/SidebarUI.svelte
  src-svelte/src/routes/SidebarUI.test.ts
  src-svelte/src/routes/api-calls/ApiCalls.svelte
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/src/routes/styles.css
  webdriver/test/specs/e2e.test.js
Due: typecheck-svelte

Get prerender working for individual API calls
  src-svelte/svelte.config.js
Due: none

Fix up Storybook tests, including window resizing
  src-svelte/src/lib/__mocks__/MockFullPageLayout.svelte
  src-svelte/src/routes/AnimationControl.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Get consistent date time screenshots on CI
  src-svelte/src/routes/api-calls/ApiCalls.stories.ts
  src-svelte/src/routes/api-calls/ApiCalls.svelte
  src-svelte/src/routes/api-calls/[slug]/ApiCall.stories.ts
  src-svelte/src/routes/api-calls/[slug]/ApiCall.svelte
Due: typecheck-svelte

Fix pre-commit for latest eslint version
  .pre-commit-config.yaml
Due: none

Only resize window for select screenshots
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Add new screenshots
  src-svelte/screenshots/baseline/layout/app/static.png
  src-svelte/screenshots/baseline/layout/sidebar/credits-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/dashboard-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/settings-selected.png
  src-svelte/screenshots/baseline/screens/chat/conversation/full-message-width.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/narrow.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/wide.png
  src-svelte/screenshots/baseline/screens/llm-call/list/empty.png
  src-svelte/screenshots/baseline/screens/llm-call/list/full.png
  src-svelte/screenshots/baseline/screens/llm-call/list/small.png
  webdriver/screenshots/baseline/desktop_wry/api-calls-800x600.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: none

Add TauriInvokeDecorator to Chat stories
  src-svelte/src/routes/chat/Chat.stories.ts
Due: typecheck-svelte

Tweak the look and layout of the credits page
  src-svelte/src/routes/credits/Creditor.stories.ts
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/src/routes/credits/Grid.svelte
Due: typecheck-svelte

Add personal picture and new icon set credits
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/static/logos/amos-ng.jpg
  src-svelte/static/logos/font-awesome.svg
  src-svelte/static/logos/vaadin.svg
Due: typecheck-svelte

Add more space between subheadings and credits
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte

Update screenshots for tweaked credits screen
  src-svelte/screenshots/baseline/screens/credits/creditor/dependency-with-icon.png
  src-svelte/screenshots/baseline/screens/credits/creditor/github-contributor.png
  src-svelte/screenshots/baseline/screens/credits/creditor/regular.png
  src-svelte/screenshots/baseline/screens/credits/creditor/typodermic-font.png
  webdriver/screenshots/baseline/desktop_wry/credits-screen-800x600.png
Due: none

Add Khmer font for chat messages
  src-svelte/package.json
  src-svelte/src/routes/chat/Message.stories.ts
  src-svelte/src/routes/storybook.test.ts
  src-svelte/src/routes/styles.css
  yarn.lock
Due: typecheck-svelte

Add Khmer font support for fixed-width text in API call display
  src-svelte/package.json
  src-svelte/src/routes/api-calls/[slug]/ApiCall.stories.ts
  src-svelte/src/routes/storybook.test.ts
  src-svelte/src/routes/styles.css
  src-tauri/api/sample-calls/get_api_call-khmer.yaml
  yarn.lock
Due: typecheck-svelte

Ignore sample-call.ts for prettier
  .pre-commit-config.yaml
Due: none

Make Khmer text bigger in chat messages
  src-svelte/src/routes/chat/Message.test.ts
  src-svelte/src/routes/chat/MessageUI.svelte
  src-svelte/src/routes/chat/MessageUI.test.ts
Due: typecheck-svelte

Add new screenshots
  src-svelte/screenshots/baseline/screens/chat/message/mixed-khmer-and-english.png
  src-svelte/screenshots/baseline/screens/llm-call/individual/khmer.png
Due: none

Path conditions:
  typecheck-svelte: any of: \.(ts|svelte)$, but not: ^webdriver/
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
